@import "css/varsNEW";

.play-button {
  cursor: default;
  font-size: 0.9em;
  align-items: stretch;

  * {
    font-weight: 500;
  }

  svg {
    font-size: 2.5em;
    margin-right: 0.25em;
  }

  .links-column {
    font-size: $font22px;
    padding: 0.15em 0;
    line-height: 1em;
  }

  .video-link {
    cursor: pointer;
  }
}
