@import "css/varsNEW";

.play-button {
  cursor: pointer;
  font-size: 0.9em;
  align-items: stretch;

  * {
    font-weight: 500;
  }

  svg {
    font-size: 2.5em;
    margin-right: 0.25em;
    transform: rotate(0deg);
  }

  .links-column {
    font-size: $font22px;
    padding: 0.15em 0;
    line-height: 1em;
  }

  &:hover {
    .video-link {
      animation: playHoverColor 0.25s linear forwards;
    }

    svg {
      animation: playHoverRotate 0.25s linear forwards;

      path {
        animation: playHoverColor 0.25s linear forwards;
      }
    }
  }

  @keyframes playHoverColor {
    0% {
      color: white;
    }
    100% {
      color: $gold;
    }
  }

  @keyframes playHoverRotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
