.request-form {
  //width: 500px;
  //margin: 0 auto;
  //text-align: center;
  width: 100%;
  text-align: left;
  flex-grow: 2;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  //.secondary-text {
  //  margin-bottom: 10px;
  //}

  .textarea-container {
    flex-grow: 2;
  }

  input, textarea {
    width: 100%;
    margin-top: 20px;
    padding: 12px 18px;
    border: none;
    border-left: solid 5px transparent;

    &:focus {
      outline: none;
    }

    &.validation-error {
      border-color: red;
    }

    &.validation-success {
      border-color: green;
    }
  }

  textarea {
    height: calc(100% - 32px);
  }

  .button {
    width: 350px;
    margin: 40px auto;
  }
}
