@import "css/varsNEW";

.request-form {
  width: 100%;
  text-align: left;
  flex-grow: 2;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    margin: .8rem 0;
    font-size: $font18px;
  }

  textarea {
    flex-grow: 2;
  }

  .button {
    margin-top: .8rem;
  }
}
