@import "css/varsNEW";
@import "css/functions";

.page.about-page {
  font-size: calc-font-size(1px);

  .leading-text {
    margin: 6rem 0 2rem;
    text-align: center;
  }

  .secondary-text {
    margin: 3rem 0 1rem;
  }

  .text {
    margin-bottom: 0.2rem;
    letter-spacing: 0.1em;
  }

  .general {
    width: 65%;
    margin: 0 auto;
  }

  .journey {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 90%;
      width: 1px;
      left: 50%;
      top: 10em;
      background-color: white;
      z-index: -1;
    }

    .leading-text,
    .journey-step,
    .journey-desc {
      background-color: black;
      padding: 1em;
    }

    .secondary-text {
      margin: 1rem 0 1rem;
      text-align: center;
    }

    .journey-step {
      margin-top: 10em;
      padding-bottom: 3em;
      width: 50%;
    }

    .journey-desc {
      width: 50%;
      margin-top: -3em;
      padding-bottom: 1em;
    }

    .key-image {
      height: 7.5em;
      background: url($CDN_URL + "/images/mint/mint-key.png") no-repeat center
        bottom;
      background-size: auto 170%;
      margin-bottom: 2em;
    }

    .stone-image {
      height: 10em;
      background: url($CDN_URL + "/images/rough-stone.png") no-repeat center
        bottom;
      background-size: auto 90%;
      margin-bottom: 2em;
    }
  }

  .team {
    .our-team {
      margin: 0 auto;
      width: 50%;
    }

    .team-members {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      width: 78%;

      .team-member {
        width: 45%;
        margin-top: 6em;

        svg {
          width: 5em;
          height: unset;
          color: $text_gray;
        }

        .secondary-text {
          margin: 0.5rem 0 0;
        }

        .member-title {
          color: $text_gray;
          font-size: $font20px;
          margin-bottom: 1em;
        }
      }
    }
  }

  .faqs {
    width: 80%;
    margin: 0 auto 5em;
  }
}

//@media only screen and (max-width: 1365px) {
//  .page.about-page {
//    --base-font-size: 23.5;
//    font-size: calc-font-size(1px);
//
//    //.inner-page {
//    //  width: 70%;
//    //}
//  }
//}
//
//@media only screen and (max-width: 1024px) {
//  .page.about-page {
//    font-size: 12.5px;
//
//    //.inner-page {
//    //  width: 85%;
//    //}
//  }
//}
