@import "css/varsNEW";

.page.about-page {
  text-align: center;

  .inner-page {
    width: 75%;
  }

  .leading-text {
    margin: 4rem 0 1rem;
  }

  .secondary-text {
    margin: 3rem 0 1rem;
  }
}
