@import "css/varsNEW";
@import "css/functions";

.page.about-page {
  font-size: calc-font-size(1px);

  .about-background {
    .walls {
      height: 1000%;
      background: url("../../assets/images/mine-walls.png") no-repeat left
        4.2%;
      background-size: 100%;
    }

    .cave {
      background: url("../../assets/images/cave.png") no-repeat 28% top;
      background-size: 130%;
      z-index: -2;
    }
  }

  .leading-text {
    margin: 8rem 0 2rem;
  }

  .secondary-text {

  }

  .text {
    margin-bottom: 0.2rem;
    letter-spacing: 0.1em;
  }

  ul {
    display: flex;

    li:not(:first-child) {
      margin-left: 4em;
    }
  }

  .general {
    width: 50%;
    margin-left: 10%;

    .leading-text {
      margin-top: 6rem;
    }
  }

  .journey {
    position: relative;
    width: 72%;
    margin-left: 13%;

    .journey-desc {
      width: 70%;
      padding-bottom: 6em;
    }

    .journey-steps {
      position: relative;
    }

    .scale {
      position: absolute;
      top: 1.3em;
      width: 3.75em;
      left: 14em;
      background: url("../../assets/images/scale.svg") no-repeat center top;
      height: 95%;
      background-size: auto 100%;

      .marker {
        position: absolute;
        left: -2.2em;
        top: 0;
        font-size: 1.6em;
        color: $gray_blur;
        transform: translateY(-50%);

        &.marker30 {
          top: 25%;
        }

        &.marker60 {
          top: 50%;
        }

        &.marker90 {
          top: 75%;
        }
      }

      .mask {
        background-color: black;
        position: absolute;
        bottom: 0;
        height: 15%;
        width: 100%;
        -webkit-mask-image: -webkit-gradient(
                        linear,
                        left top,
                        left bottom,
                        from(rgba(0, 0, 0, 0)),
                        to(rgba(0, 0, 0, 1))
        );
      }
    }

    .secondary-text {
      margin: 0 0 1rem;
    }

    .journey-row {
      width: 100%;

      .image-side {
        width: 20em;
        min-width: 20em;
        text-align: left;

        .image {
          width: 10em;
          height: 10em;
          text-align: center;
        }
      }

      .text-side {
        flex-grow: 2;
        position: relative;
        padding: 0 0 4em 4em;
        min-height: 12em;
      }

      .meter {
        position: absolute;
        top: 2.25em;
        bottom: -0.3em;
        left: 0;
        width: 1px;
        background-color: $border_gray;

        &:before {
          content: "";
          position: absolute;
          top: -.8em;
          left: 50%;
          transform: translate(-50%, -65%);
          width: 1em;
          height: 1em;
          border-radius: 50%;
          background-color: $border_gray;
        }

        &.active {
          background-color: white;
          top: 2.75em;
          bottom: -0.25em;

          &:before {
            background-color: white;
            top: -1.3em;
          }

          &:after {
            content: "";
            position: absolute;
            top: -1.3em;
            left: 50%;
            transform: translate(-50%, -60%);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            border: solid 2px white;
          }
        }
      }

      &.step-0 {
        .key-image {
          height: 10em;
          transform: rotate(145deg) rotateY(180deg) rotateZ(180deg) translate(-20%, -20%);
        }

        .text-side {
          padding-bottom: 0;
        }
      }

      &.step-1 {
        .stone-image {
          height: 10em;
        }
      }

      &.step-1, &.step-2, &.step-3 {
        .image-side {
          .image {
            img, .react-player {
              transform: translateY(-50%);
            }
          }
        }
      }

      &.step-4 {
        .image-side {
          align-self: flex-start;

          img {
            transform: translateY(1em);
          }
        }

        .text {
          width: 80%;
          position: relative;

          img {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(160%, 40%);
          }
        }

        .meter {
          bottom: unset;
        }
      }
    }
  }

  .team {
    width: 70%;
    margin-left: 15%;

    .our-team {
      width: 65%;
    }

    .team-members {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      text-align: left;

      .team-member {
        width: 45%;
        margin-top: 4em;
        margin-right: 5%;

        svg {
          font-size: $font18px;
          width: 11.65em;
          height: 11.65em;
          color: white;
        }

        .secondary-text {
          margin: 0.5rem 0 0;
        }

        .member-title {
          color: $gold;
          font-size: $font20px;
          margin-bottom: 1em;
        }
      }
    }
  }

  .faq {
    .leading-text {
      margin-left: 10%;
    }
  }

  .faqs {
    width: 80%;
    margin: 0 auto 5em;
  }
}
