# WARNING - DO NOT  COMMIT THIS FILE WHEN IT CONTAINS REAL DATA #

ETHERSCAN_API_KEY=<>
ROPSTEN_URL=https://ropsten.infura.io/v3/<key>
RINKEBY_URL=https://rinkeby.infura.io/v3/<key>
GOERLI_URL=https://goerli.infura.io/v3/<key>
PRIVATE_KEY=<>
