@import "css/varsNEW";

.page.coming-soon {
  position: relative;
  text-align: center;

  .content {
    height: 100%;
    margin: 0 auto;
    position: relative;

    .leading-text {
      font-size: $font50px;
      padding: .75em 0 .25em;
    }

    .secondary-text {
      font-size: $font30px;
      line-height: 1.4em;
    }

    .password-box {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .react-player {
    min-width: 102%;
    min-height: 100%;
    opacity: 0.7;
    z-index: -1;
    position: absolute;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 1921px) {
  body {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2561px) {
  body {
    font-size: 24px;
  }
}

@media only screen and (min-width: 3201px) {
  body {
    font-size: 32px;
  }
}
