@import "css/varsNEW";
@import "css/animations";

.page.coming-soon {
  position: relative;
  text-align: center;
  overflow: hidden;
  min-height: 40em;

  .react-player.bg-video {
    min-width: 102%;
    min-height: 104%;
    opacity: 0.85;
    z-index: -2;
    position: fixed;
    background-color: black;

    video {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .project-title {
    position: relative;
    top: 15vh;

    .react-player.dd-text {
      margin: 0 auto;
      height: 7.5vh;
    }

    .tagline-text {
      line-height: 1em;
    }
  }

  .bottom-section {
    position: absolute;
    bottom: 11.5vh;
    height: 12.5vh;
    width: 100%;
    justify-content: space-between;

    .tagline-text {
      font-weight: 500;
    }

    .invite-image {
      cursor: pointer;
      width: 16em;
      text-decoration: underline;
      animation: growShrinkLoop 2.5s ease-out infinite;

      img {
        width: 100%;
      }

      .your-invite-text {
        color: $gold;
        font-weight: 500;
        margin-top: -2.2em;
        letter-spacing: 0.1em;
        text-decoration: underline;
        font-size: 0.9em;
      }
    }
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .page.coming-soon {
    overflow: unset;

    .react-player.bg-video {
      min-width: 100%;
      min-height: 100%;
      width: 100vw;
      height: 100vh;
    }
  }
}

@media only screen and (max-width: 480px) {
  .page.coming-soon {
    .bg-video {
      transform: translateY(-5vh);
    }

    .tagline-text {
      font-size: $font25px;
    }

    .bottom-section {
      height: 30vh;
      font-size: 0.85em;

      .tagline-text {
        width: 60%;
      }
    }
  }
}
