
@media only screen and (max-width: 1199px) {
  .page.collector-page {
    .main-box {
      &.nfts-gallery,
      &.nft-selected {
        margin-top: 3.5em;
      }
    }

    .nft-selected {
      padding: 0;
      height: 180vw;
    }
  }
}
