@import "css/vars";
@import "css/varsNEW";

.page.collector-page {
  background: url("../../assets/images/collector-bg.png") no-repeat top center;
  background-size: cover;

  .main-box {
    max-width: 90%;
    min-height: 524px;
    min-width: 1050px;
    aspect-ratio: 2;
    margin: 0 auto;
  }

  .leading-text {
    font-size: $font36px;
    margin-bottom: 0.8rem;
  }

  .secondary-text {
    font-size: $font25px;
  }

  .text {
    font-size: $font18px;
    margin-bottom: 0.8rem;
  }

  .nfts {
    display: flex;
    flex-wrap: wrap;

    .card-container {
      width: 50%;

      .token-card {
        border: solid 1px $darker-gray;
        margin: 40px;
        position: relative;

        .token-id {
          font-weight: 500;
          font-size: 1.2em;
          margin: 10px 0;
          text-align: center;
        }

        .card-footer {
          height: 80px;
        }

        .button {
          height: 40px;
          position: absolute;
          right: 20px;
          bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page.collector-page {
    .leading-text {
      font-size: $font30px;
    }

    .text {
      font-size: 1em;
    }
  }
}
