@import "css/varsNEW";

.teaser-video {
  height: 54.25vw;
  position: relative;
  margin-top: -5%;
  z-index: 0;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left 5%,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );

  .react-player {
    width: 100%;
    z-index: 0;
  }

  .cta-and-trailers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $font20px;
  }
}

@media only screen and (max-width: 1199px) {
  .teaser-video {
    margin-top: 0 !important;

    .react-player {
      opacity: 1;
    }
  }
}
