@import "css/varsNEW";

.homepage-content-background {
  position: relative;
  --edge-offset: 0;
  --stone-top: -21%;
  --stone-bottom: -16%;

  .bg {
    &.statue {
      width: 25vw;
      height: 25vw;
      //aspect-ratio: 1;
      left: 65%;
      right: unset;
      z-index: -1;
      background: url($CDN_URL + "/images/homepage/statue-960.png") no-repeat
        right 0;
      background-size: 100%;

      .rough-diamond {
        position: absolute;
        top: var(--stone-bottom);
        left: 50%;
        transform: translateX(-55%);
        width: 12.5%;
        animation: moveStone 6s ease-in-out infinite;
      }
    }
    &.glow {
      background: url($CDN_URL + "/images/homepage/glow.png") no-repeat -25% center;
      background-size: 150% 100%;
      width: 100vw;
      height: 35%;
      left: unset;
      transform: translateY(-23%);
    }
    &.mine-wall-left {
      background: url($CDN_URL + "/images/homepage/mine-wall-left.png")
        no-repeat 0 0;
      background-size: auto 40%;
      transform: translateX(calc(var(--edge-offset) / 2));
    }
    &.bg-right-hand {
      background: url($CDN_URL + "/images/homepage/homepage-right-hand.png")
        no-repeat 101% 40%;
      background-size: auto 26%;
    }
    &.bg-left-hand {
      background: url($CDN_URL + "/images/homepage/homepage-left-hand.png")
        no-repeat left 41%;
      background-size: auto 27%;
      z-index: 1;
      transform: translateX(var(--edge-offset));
    }
    &.bg-teaser {
      height: $viewHeightRef;
      top: unset;

      .react-player {
        opacity: 0.25;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
  }

  @keyframes rotateStars {
    100% {
      transform: rotate(270deg);
    }
  }

  @keyframes moveStone {
    0% {
      top: var(--stone-bottom);
    }
    50% {
      top: var(--stone-top);
    }
    100% {
      top: var(--stone-bottom);
    }
  }
}

@media only screen and (max-width: 1199px) {
  .homepage-content-background {
    --stone-top: -23%;
    --stone-bottom: -18%;

    .bg {
      &.glow {
        height: 75vw;
        background-position: 50% 55%;
        background-size: 150% 100%;
      }

      &.statue {
        width: 60vw;
        height: 60vw;
        left: 20%;
      }

      &.mine-wall-left {
        display: none;
      }

      &.bg-right-hand {
        background-position-y: 42%;
        background-size: 40% auto;
      }

      &.bg-left-hand {
        background-position: 10% 55%;
        background-size: 25% auto;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .homepage-content-background {
    .bg {
      &.glow {
        height: 100vw;
        background-position: 50% 55%;
        background-size: 150% 150%;
      }

      &.statue {
        background-image: url($CDN_URL + "/images/homepage/statue-480.png");
        width: 100vw;
        height: 100vw;
        left: 0;

        .rough-diamond {
          width: 15%;
        }
      }

      &.bg-right-hand {
        background-position-y: 35%;
        background-size: 60% auto;
      }

      &.bg-left-hand {
        background-position: 10% 50%;
        background-size: 35% auto;
      }
    }
  }
}
