.create-invites-form {
  width: 500px;
  margin: 0 auto 2.5em;
  text-align: center;

  .secondary-text {
    margin-bottom: 10px;
  }

  .input-container {
    display: flex;
    margin-top: 1.25em;
  }

  input {
    flex-grow: 2;
    padding: 1em 1.125em;
    border: none;
    border-left: solid 5px transparent;

    &:focus {
      outline: none;
    }

    &.validation-error {
      border-color: red;
    }

    &.validation-success {
      border-color: green;
    }
  }

  .cbx-row {
    .checkbox {
      margin-right: 2em;
    }
  }

  .invite-num {
    input {
      margin: 0 2em 0 0.5em;
      width: 50px;
    }
  }

  .button-row {
    justify-content: flex-end;
    margin-top: 1.25em;
    padding-top: 1.25em;
    border-top: solid 1px #ffffff88;

    .button {
      width: 8em;
    }
  }
}
