@import "css/varsNEW";

.eternal-treasures-background {
  position: relative;
  $stoneHigh: -4%;
  $stoneLow: -3%;

  &,
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &.parallax {
      position: fixed;
    }

    &.contained {
      overflow: hidden;
    }

    //&.glow {
    //  background: url($CDN_URL + "/images/homepage/glow.png")
    //  no-repeat left center;
    //}
    &.mine-wall-bottom {
      background: url($CDN_URL + "/images/homepage/mine-wall-bottom.png")
        no-repeat right 36%;
      background-size: 75% auto;
    }
    &.mine-wall-left {
      background: url($CDN_URL + "/images/homepage/mine-wall-left.png")
        no-repeat 0 0;
      background-size: auto 50%;
      transform: translate(0, -12%);
    }
    &.bg-right-hand {
      background: url($CDN_URL + "/images/homepage/homepage-right-hand.png")
        no-repeat 104% 85%;
      background-size: 37% auto;
    }
    &.bg-left-hand {
      background: url($CDN_URL + "/images/homepage/homepage-left-hand.png")
        no-repeat left bottom;
      background-size: 22.5% auto;
      transform: translateY(5%);
    }
  }

  @keyframes rotateStars {
    100% {
      transform: rotate(270deg);
    }
  }
}

@media only screen and (max-width: 1400px) {
  .page.homepage {
    .bg.mine-wall-left {
      transform: translate(-3.5%, -12%);
    }
  }
}

@media only screen and (max-width: 1300px) {
  .page.homepage {
    .bg.mine-wall-left {
      transform: translate(-5%, -12%);
    }
  }
}

