@import "css/varsNEW";

.eternal-treasures-background {
  background-color: black;
  position: relative;
  $stoneHigh: -4%;
  $stoneLow: -3%;

  &,
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &.parallax {
      position: fixed;
    }

    &.contained {
      overflow: hidden;
    }

    &.stars {
      //background: url("../../assets/images/stars.png")
      background: url($CDN_URL + "/images/homepage/homepage-ancient-stars.png")
      no-repeat center center;
      background-size: cover;
      background-attachment: fixed;
      z-index: -10;

      // ROTATION
      //width: 200%;
      //height: 100%;
      //left: -50%;
      //top: -25%;
      //transform: rotate(-90deg);
      //animation: rotateStars 720s linear infinite;
    }
    &.mine-rocks {
      background: url("../../assets/images/mine-rocks.png")
      no-repeat right 36%;
      background-size: 75% auto;
    }
    &.mine-rock-front {
      background: url("../../assets/images/mine-rock-front.png")
      no-repeat -2% -30%;
      background-size: auto 50%;
    }
    &.bg-right-hand {
      background: url($CDN_URL + "/images/homepage/homepage-right-hand.png")
      no-repeat 104% 85%;
      background-size: 37% auto;
    }
    &.bg-left-hand {
      background: url($CDN_URL + "/images/homepage/homepage-left-hand.png")
      no-repeat left bottom;
      background-size: 22.5% auto;
      transform: translateY(5%);
    }
  }

  @keyframes rotateStars {
    100% {
      transform: rotate(270deg);
    }
  }
}
