@import "css/varsNEW";

.faqs {
  .faq-item {
    padding: 1.5em 0;
    border-bottom: solid 1px white;
  }

  .faq-title {
    color: white;
    font-size: $font18px;
    cursor: pointer;
    margin: 0;
    padding: 0 0.75em;

    svg {
      width: 0.75em;
      height: 0.75em;
    }
  }

  .ReactCollapse--content {
    padding: 0 1em 0 2em;
  }
}
