@import "css/vars";

.progress-bar {
  display: flex;
  align-items: center;
  width: $videoWidth;
  border: solid 1px white;

  .progress-step {
    width: 25%;
    text-align: center;
    position: relative;

    &:not(:last-child) {
      border-right: solid 1px white;
    }

    &.complete {
      background-color: $light-gray;
    }

    &.active {
      &:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        background-color: $light-gray;
        z-index: -1;
      }
    }
  }
}
