@import "css/varsNEW";
@import "components/Button/Button.scss";

.request-form {
  width: 100%;
  text-align: left;
  flex-grow: 2;

  form {
    height: 100%;

    .text-comment {
      margin-top: -0.25rem;
    }

    .modal {
      width: 110%;
      transform: translate(-50%, -70%);
    }

    .buttons {
      align-items: flex-end;
      margin-top: 1.4em;

      .button {
        margin-top: 0;
        margin-right: 2em;
      }

      .countdown-container {
        .text {
          font-size: 0.7em;
          font-weight: 500;
          color: $gold;
          margin-bottom: 0.4rem;
          letter-spacing: 0.05em;
        }

        .countdown {
          font-size: 0.35em;

          .caption {
            font-size: max(0.9375em, 8px);
          }

          .w-d .caption {
            font-size: max(0.6875em, 7px);
          }
        }
      }
    }
  }

  .wallet {
    margin-left: 1.5em;
    white-space: nowrap;
  }

  .address-row {
    input {
      margin-left: 0;
      border-color: $gold;
      color: $gold;
    }

    .wallet.error {
      color: red;
    }
  }

  .inputs-row {
    .checkbox {
      padding-left: 1em;
    }
  }

  .info-inputs {
    flex-grow: 2;
  }

  .image-input {
    $size: 8.125em;
    width: $size;
    height: $size;
    margin-left: 2em;
    position: relative;

    .image-container {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 4px 0 #c0c0c0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .svg-inline--fa {
      position: absolute;
      z-index: 1;
      font-size: 1.75em;
      right: 0;
      bottom: 5%;
    }

    .hidden-input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      z-index: 2;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .request-form {
    form {
      .buttons {
        margin-bottom: 1em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .request-form {
    form {
      .buttons {
        justify-content: space-between;
        margin-top: 2em;

        .countdown {
          font-size: 0.3em !important;
        }
      }
    }

    .address-row {
      position: relative;

      .wallet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: unset;
      }
    }

    button:not(.button) {
      margin: 0;
    }

    .inputs-row {
      flex-direction: column;
      align-items: stretch;

      .input-container {
        width: 100% !important;
      }
    }

    .checkbox,
    .radio-input-container,
    .text-comment,
    .increase-chances {
      padding-left: 0.5rem !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .request-form {
    form {
      .buttons {
        .button {
          margin-right: 1em;
        }
      }
    }
  }
}
