@import "css/varsNEW";
@import "components/Button/Button.scss";

.request-form {
  width: 100%;
  text-align: left;
  flex-grow: 2;

  form {
    height: 100%;

    .text-comment {
      margin-top: -0.25rem;
    }

    .modal {
      width: 110%;
      transform: translate(-50%, -70%);
    }

    .buttons {
      align-items: flex-end;

      .button {
        margin-top: 1.4em;
      }
    }
  }

  .wallet {
    margin-left: .5em;
    white-space: nowrap;
  }

  .address-row {
    input {
      margin-left: 0;
      border-color: $gold;
      color: $gold;
    }
  }

  .inputs-row {
    .input-container {
      &:nth-child(1) {
        width: 35%;
      }

      &:nth-child(2) {
        width: 61%;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .request-form {
    form {
      .buttons {
        margin-bottom: 1em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .request-form {
    form {
      .buttons {
        .button {
          margin-top: 2em;
        }
      }
    }

    .address-row {
      position: relative;

      .wallet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    button:not(.button) {
      margin: 0;
    }
  }
}
