@import "css/vars";

a {
  color: inherit;
  text-decoration: none;
}

//input[type="text"] {
//  font-family: caption;
//}

.landing-page {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  --input-height: 95px;
  --input-width: 240px;
  --pwd-input-offset: 50px;

  .bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black url("../../assets/images/BG.png") no-repeat center bottom;
    background-size: 100%;
    z-index: 0;
  }

  header {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    padding: 30px 40px;

    .logo-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 32px;
        width: unset;
      }
    }
  }

  .centered-content {
    z-index: 1;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    letter-spacing: 0.1em;

    .top-content {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    h1 {
      margin: 20px 0 0;
      font-size: 4em;
      opacity: .28;
      white-space: nowrap;
    }

    .react-player {
      min-height: 180px;
      height: 240px !important;
      width: auto !important;
    }

    .title {
      font-size: 3.2em;
      letter-spacing: 0.05em;
      line-height: 1.2em;
    }

    .coming-soon {
      font-size: 1.25em;
      font-weight: 700;
    }

    .password-box, .password-error {
      margin: 60px 0 20px;
    }

    .password-box {
      text-align: center;
      border: solid 1px $white;
      border-radius: 15px;
      position: relative;
      width: calc(var(--input-width) + 68px);
      animation: fadeIn 1s ease-out;

      .pwd-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $dark;
        border-radius: 15px;
        z-index: 0;
      }

      .password-title {
        margin: 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -51%);
        white-space: nowrap;
        background-color: $dark;
        padding: 0 8px;
        color: rgba(255, 255, 255, 0.5);
      }

      .pwd-input {
        justify-content: space-between;
        margin: 10px 30px 15px;
        z-index: 10;
      }

      input {
        //position: relative;
        z-index: 100;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2em;
        color: $white !important;
        border-bottom: solid 1px white;
        //caret-color: transparent;
        border-radius: unset !important;
        //font-family: caption !important;

        &::selection {
          background-color: $gray;
        }
      }

      &.loading {
        .pwd-input {
          animation: loading 1s ease-in-out infinite;
        }
      }
    }

    .password-error {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      height: var(--input-height);
      min-height: var(--input-height);

      .error-message {
        font-size: 1em;
        color: $red;
        font-weight: 400;
      }

      .request-join {
        font-size: 1.2em;
        color: $dark;
        background-color: $white;
        height: 54px;
        border-radius: calc(var(--input-height) / 2);
        width: calc(var(--input-width) + var(--pwd-input-offset) + 4px);
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 2px transparent;
        cursor: pointer;

        .request-join-text {
          font-weight: 500;
        }
      }
    }
  }

  .remainder {
    flex-grow: 2;
  }
}

@media only screen and (max-width: 767px) {
  .landing-page {
    --input-height: 76px;
    --input-width: 160px;
    --pwd-input-offset: 48px;

    .bg {
      background-size: 160%;
    }

    header {
      justify-content: center;
      padding: 20px 0;

      .logo-box {
        img {
          height: 26px;
        }
      }
    }

    .centered-content {
      height: 68%;

      h1 {
        width: 300px;
        text-align: center;
        margin: 20px 0 0;
        font-size: 2em;
        white-space: unset;
        opacity: .4;
        line-height: 1.2em;
      }

      .react-player {
        min-height: 140px;
        height: 140px !important;
      }

      .title {
        font-size: 1.5em;
      }

      .coming-soon {
        font-size: .8em;
      }

      .password-box {
        .password-title {
          font-size: .8em;
        }

        .pwd-input {
          margin: 8px 20px 12px;
        }

        input {
          font-size: 1.8em;
        }
      }

      .password-error {
        .error-message {
          margin-top: -10px;
        }

        .request-join {
          font-size: 1em;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes loading {
  0% {
    opacity: .8;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: .8;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
