$gray: #636262;
$light-gray: #7e7d7d;
$red: #b63c45;

a {
  color: inherit;
  text-decoration: none;
}

.landing-page {
  height: 100%;
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;

  .bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black url("../../assets/images/diamond art.png") no-repeat center top;
    background-size: auto 120%;
    z-index: 0;
  }

  header {
    z-index: 1;
    height: 50px;
    display: flex;
    align-items: flex-start;
    padding: 30px;

    .logo-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .by-text {
        margin-bottom: -25px;
        color: $gray;
      }

      img {
        height: 80px;
        width: unset;
      }
    }
  }

  .centered-content {
    z-index: 1;
    height: 38%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    h1 {
      margin: 20px 0 0;
      font-size: 3em;
      font-weight: normal;
      opacity: 1;
    }

    .password-box {
      color: $gray;
      text-align: center;
      height: 108px;
      opacity: 0;

      h2 {
        margin-top: 0;
      }

      input {
        color: $gray;
        text-align: center;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 3.6em;
        letter-spacing: .3em;
        width: 230px;
        margin-left: 18px;

        &.filled {
          border-bottom: none;
        }

        &.loading {
          animation: scale 1s ease-in-out infinite;
        }
      }
    }

    .password-error {
      height: 108px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .error-message {
        font-size: 1.5em;
        color: $red;
      }

      .request-join {
        font-size: 1.3em;
        padding-bottom: 24px;
        color: $light-gray;
      }
    }
  }

  .remainder {
    flex-grow: 2;
  }

  &.animate {
    .centered-content {
      .password-box {
        transition: opacity 1s ease-out;
        transition-delay: 6s;
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .landing-page {

    .bg {
      background-size: cover;
      background-position-y: calc(100% + 140px);
    }

    header {
      height: 25px;
      justify-content: center;
      padding: 20px 0;

      .logo-box {
        .by-text {
          margin-bottom: -20px;
          color: $gray;
        }

        img {
          height: 50px;
        }
      }
    }

    .centered-content {
      height: 60%;

      h1 {
        width: 275px;
        text-align: center;
        margin: 20px 0 0;
        font-size: 2em;
      }

      .react-player {
        width: 220px !important;
      }

      .password-error, .password-box {
        height: 90px;
      }

      .password-box {
        input {
          font-size: 2.5em;
        }
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}