$gray: #636262;
$light-gray: #7e7d7d;

.landing-page {
  height: 100%;
  background: black url("../../assets/images/diamond art.png") no-repeat center top;
  background-size: auto 120%;
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;

  header {
    height: 50px;
    display: flex;
    align-items: flex-start;
    padding: 30px;

    .logo-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .by-text {
        margin-bottom: -25px;
        color: $gray;
      }

      img {
        height: 80px;
        width: unset;
      }
    }
  }

  .centered-content {
    height: 38%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    h1 {
      margin: 20px 0 0;
      font-size: 3em;
      font-weight: normal;
      opacity: 1;
    }

    .coming-soon {
      margin-top: 0;
      font-size: 2.4em;
      color: $light-gray;
      opacity: 0;
      animation: scale 1.5s ease-in-out infinite;
    }

    .password-box {
      color: $gray;
      text-align: center;
      margin-top: 40px;
      opacity: 0;

      input {
        color: $gray;
        text-align: center;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 3.6em;
        letter-spacing: .3em;
        width: 230px;
        margin-left: 18px;

        &.filled {
          border-bottom: none;
        }
      }
    }
  }

  &.animate {
    .centered-content {
      .coming-soon {
        transition: opacity 1s ease-out;
        transition-delay: 6s;
        opacity: 1;
      }

      .password-box {
        transition: opacity 1s ease-out;
        transition-delay: 6s;
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .landing-page {
    background-size: 160% auto;
    background-position-y: bottom;
    header {
      height: 35px;
      justify-content: center;
      padding: 20px 0;

      .logo-box {
        img {
          height: 60px;
        }
      }
    }

    .centered-content {
      h1 {
        width: 320px;
        text-align: center;
        margin: 20px 0 30px;
        font-size: 2.5em;
      }

      .react-player {
        width: 220px !important;
      }

      .coming-soon {
        margin-top: 30px;
        font-size: 2em;
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}