@import "css/varsNEW";

.checkbox, .radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &.cbx-inline {
    width: unset;
    margin: 0 0 0 1em;

    input[type="checkbox"] {
      margin-right: 0.2px;
    }
  }

  input[type="checkbox"], input[type="radio"] {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    visibility: hidden;
  }

  .cbx {
    width: $font13px;
    height: $font13px;
    position: absolute;
    border: solid 1px white;
    border-radius: calc($font13px / 2);

    &.checked:after {
      content: "";
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 0.2em;
      width: 0.4em;
      height: 0.4em;
      transform: translate(-50%, -50%);
    }
  }
}

.radio {
  margin-left: .8em;
}