@import "css/varsNEW";

.modal.change-address-modal {
  width: 40em;
  transform: translate(-50%, -56%);

  .modal-inner {
    &:before {
      background-color: #1f1f1f;
    }
  }

  .modal-content {
    svg {
      width: 4em;
      height: 4em;
      margin-bottom: 1rem;

      path {
        fill: #7d0f0f;
      }
    }
  }

  form {
    .input-container {
      .label {
        background-color: #232323;
      }
    }
  }


  .text {
    margin-bottom: 1rem;
    line-height: 1.5em;
    text-align: left;
  }

  .button {
    margin-top: 1.5em;
  }
}
