@import "css/varsNEW";

.page.info-page.tech-page {
  .content-section {
    align-items: center;
  }

  ul {
    list-style-type: decimal;
  }

  .teaser-video {
    .react-player {
      opacity: 0.25;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .page.info-page.tech-page {
    .teaser-video {
      .react-player {
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .page.info-page.tech-page {
    .general {
      width: 80%;
      margin: 0 auto;
    }

    .content-section {
      width: 80%;
    }
  }
}
