@import "css/varsNEW";

.page.info-page.tech-page {
  ul {
    list-style-type: decimal;
  }

  .teaser-video {
    .react-player {
      opacity: 0.25;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .page.info-page.tech-page {
    .teaser-video {
      .react-player {
        opacity: 0.5;
      }
    }
  }
}
