@import "css/varsNEW";

.diamond-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;

  .diamond-item {
    position: relative;

    .token-icon {
      margin-right: 1em;
      cursor: pointer;
      border: solid 1px transparent;
      border-radius: 4px;
      padding: 0.25em 0.4em;
      align-items: flex-end;

      svg {
        width: 1.4em;
        height: 1.4em;
      }

      .token-id {
        font-size: 0.8em;
        line-height: 1em;
        color: $gold;
        font-weight: 500;
      }
    }

    &.enabled {
      .token-icon {
        opacity: 1;
      }
    }

    &.selected {
      .token-icon {
        transform: scale(1.2);
      }
    }
  }

  a.active {
    .token-icon {
      border: solid 1px white;
    }
  }

  .diamond-info-container {
    background-color: black;
    width: 15em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3em;
    z-index: 1;
    border: solid 1px $disabled_gray;

    .token-id {
      text-align: center;
      padding: 0.6em 0;
      margin-top: -0.45em;
      color: $gold;
    }
  }
}
