@import "css/varsNEW";

.not-connected {
  height: 70%;
  justify-content: space-between;
  text-align: center;

  img {
    width: 23rem;
    margin: 2.5rem 0 -2.5rem;
  }

  .connect-wallet button {
    background-color: transparent !important;
    color: $text_gray;
    font-weight: 300;
    font-size: $font25px;
    box-shadow: none;
  }
}
