@import "css/varsNEW";
@import "css/elements";

.not-connected {
  height: 70%;
  justify-content: space-between;
  text-align: center;

  img {
    width: 18em;
    margin: 7em 0 2.5em;
  }

  .connect-wallet button {
    @extend .button;
    @extend .transparent;
    color: $text_gray;
    border: solid 1px $text_gray;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}
