@import "vars";
@import 'assets/fonts/fonts.css';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: 'Saira', monospace;
  font-weight: 300;
}

#root {
  z-index: 1;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $dark;
  color: $white;

  header {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.8em;
    opacity: 0.9;

    .replay-btn {
      opacity: 0;
      transition: opacity 0.25s linear;
    }

    svg {
      cursor: pointer;
      margin-left: 25px;

      &.fa-arrows-rotate {
        transform: rotate(0);
        transition: transform 0.25s linear;

        &:hover {
          transform: rotate(180deg);
        }
      }
    }
  }

  .content {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    padding: 100px 300px;
    background-color: $dark;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border: solid 1px silver;
    border-radius: 10px;
  }

  .react-player {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
  }

  &.show-content {
    .content {
      transition: opacity 0.25s ease-in;
      transition-delay: 0.25s;
      opacity: 1;
    }

    .react-player {
      transition: opacity 0.25s ease-in;
      opacity: 0.4;
    }

    header .replay-btn {
      opacity: 1;
      transition-delay: 0.25s;
    }
  }

  &.hide-content {
    .content {
      transition: opacity 0.25s ease-in;
      opacity: 0;
    }

    .react-player {
      transition: opacity 0.25s ease-in;
      transition-delay: 0.25s;
      opacity: 1;
    }

    header .replay-btn {
      opacity: 0;
      transition-delay: unset;
    }
  }
}
