@import "vars";
@import "varsNEW";
@import "functions";
@import "../assets/fonts/fonts.css";

html,
body,
#root,
.main-layout,
.main-layout > div[data-rk],
.page {
  height: 100%;
}

html {
  --base-font-size: 18;
  scroll-behavior: smooth;
}

:root {
  --header-height: 5rem;
}

body {
  overflow: hidden;
  background-color: black;
  color: white;
  margin: 0;
}

* {
  font-family: "Saira", monospace;
  font-weight: 300;
  box-sizing: border-box;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: 700;
}

.page {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;

  .inner-page {
    padding-top: calc(var(--header-height) * 1.4);
    margin: 0 auto;
    height: 100%;

    h1 {
      text-align: center;
      color: $text_gray;
      text-transform: uppercase;
      margin: 0 0 3rem 0;
      font-size: $font30px;
    }
  }
}

.loader-container {
  height: 100%;
}

.page-cover {
  position: fixed;
  z-index: 100;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;

  .loader-container {
    height: unset;
    margin: -6.8em 0;
  }

  .leading-text {
    font-size: $font32px;
    margin: -0.5em 0 0.8em;
  }

  .secondary-text {
    color: white;
    font-size: $font25px;
  }

  &.hide {
    animation: fadeOut 0.15s ease-in;
  }
}

.link {
  border-bottom: solid 1px $text_gray;
  line-height: 1em;
}

footer {
  background-color: black;
  height: 0.3 * $viewHeightRef;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left 15%,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );

  .footer-inner {
    width: 25rem;
    margin: -2rem auto;
    padding-top: 4rem;
    height: 100%;
  }

  .center-aligned-row {
    justify-content: space-evenly;
    margin-top: 2rem;

    .link {
      font-weight: 100;
    }
  }
}

.center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    &:not(:last-child) {
      margin-right: 0.5em;
    }
    &:not(:first-child) {
      margin-left: 0.5em;
    }
  }
}

.center-center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-start-aligned-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.start-start-aligned-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.center-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-spaced-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-top-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-spaced-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.animated-text {
  opacity: 0;
  position: relative;
  left: 5em;
  transition: all 0.25s ease-in;

  &.visible {
    opacity: 1;
    left: 0;
    top: 0;
  }

  &.ltr {
    left: unset;
    right: 5em;

    &.visible {
      right: 0;
    }
  }
}

.text-comment {
  font-size: $font15px;
  color: $text_gray;
  letter-spacing: 1.2px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.common-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-view {
  height: 100%;

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

.leading-text {
  font-size: $font50px;
  text-transform: uppercase;
  line-height: 1.33em;
}

.secondary-text {
  font-size: $font30px;
  color: $secondary_gray;
  line-height: 1.33em;
}

.text {
  font-size: $font18px;
}

.logo-box,
.react-player {
  position: relative;

  img {
    width: 6em;
  }

  &.with-text:after {
    content: "DIAMOND DAWN";
    position: absolute;
    bottom: -1.2em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: $font10px;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
}

.video-placeholder {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 4em;
  }
}

.tabs {
  .tabs-header {
    justify-content: center;
  }
}

.Toastify__toast-container {
  top: 80px !important;
}

.MuiTextField-root {
  background-color: white !important;
}

.MuiDrawer-root .MuiPaper-root {
  font-size: 0.9em;
  padding-top: 8em;
  width: 20em;
  background: #ffffff55;
  box-shadow: 0 0.4em 1.2em #00000029;
  color: white;
  padding-left: 3em;

  &:before {
    content: "";
    width: 100%;
    height: var(--header-height);
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
  }

  .menu-item {
    margin-bottom: 0.8em;
    font-size: 1.4em;
  }
}

// ANIMATIONS
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (min-width: 1921px) {
  html {
    font-size: calc-font-size(1px);
  }

  .MuiDrawer-root .MuiPaper-root {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    --header-height: 4rem;
  }
}
