@import "vars";
@import "varsNEW";
@import "functions";
@import "../assets/fonts/fonts.css";

html,
body,
#root,
.main-layout,
.main-layout > div[data-rk],
.page {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: calc-font-size(1px);
}

body {
  overflow: hidden;
  background-color: black;
  color: white;
  margin: 0;
}

* {
  font-family: "Saira", monospace;
  font-weight: 300;
  box-sizing: border-box;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: 700;
}

.page {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;

  .inner-page {
    padding-top: $headerHeight * 1.4;
    //max-width: 1440px;
    margin: 0 auto;
    height: 100%;

    h1 {
      text-align: center;
      color: $text_gray;
      text-transform: uppercase;
      margin: 0 0 3rem 0;
      font-size: $font30px;
    }
  }
}

.loader-container {
  height: 100%;
}

.center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    &:not(:last-child) {
      margin-right: 0.5em;
    }
    &:not(:first-child) {
      margin-left: 0.5em;
    }
  }
}

.center-center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-start-aligned-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.center-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-spaced-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-top-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-spaced-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.text-comment {
  font-size: $font15px;
  color: $text_gray;
  letter-spacing: 1.2px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.common-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-view {
  height: 100%;

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

.leading-text {
  font-size: $font50px;
  text-transform: uppercase;
  line-height: 1.33em;
}

.secondary-text {
  font-size: $font30px;
  color: $secondary_gray;
  line-height: 1.33em;
}

.text {
  font-size: $font18px;
}

.video-placeholder {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 4em;
  }
}

.tabs {
  .tabs-header {
    justify-content: center;
  }
}

.Toastify__toast-container {
  top: 80px !important;
}

.MuiTextField-root {
  background-color: white !important;
}

.MuiDrawer-root .MuiPaper-root {
  padding-top: 150px;
  width: 300px;
  background: #ffffff55;
  box-shadow: 0 10px 30px #00000029;
  color: white;
  padding-left: 50px;

  .menu-item {
    margin-bottom: 20px;
    font-size: 1.4em;
  }
}

// ANIMATIONS
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
