@import "vars";
@import "varsNEW";
@import "functions";
@import "animations";
@import "../assets/fonts/fonts.css";

html,
body,
#root,
.main-layout,
.main-layout > div[data-rk],
.page {
  height: 100%;
}

html {
  --base-font-size: 18;
}

:root {
  --header-height: 5rem;
}

body {
  background-color: black;
  color: white;
  margin: 0;

  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;

  &.no-scroll {
    overflow: hidden;
    padding-right: 14px;
  }
}

* {
  font-family: "Saira", monospace;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: 500;
}

p {
  margin: 10px 0;

  &:first-child {
    margin-top: 0 !important;
  }
}

input[type="checkbox"] {
  accent-color: $gold !important;
  height: 1em;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;

  .input-container {
    width: 100%;
    position: relative;

    .label {
      position: absolute;
      top: 0.2em;
      left: 2em;
      padding: 0.3em 0.6em;
      background-color: #353535;
      z-index: 1;
      font-size: 0.7em;
    }
  }

  input,
  textarea {
    margin: 0.8em 0;
    font-size: $font18px;
    width: 100%;

    &.with-error {
      border-color: $red !important;
      opacity: 1 !important;
    }
  }

  .textarea-container {
    flex-grow: 2;

    textarea {
      height: 80%;
    }
  }

  .button {
    margin-top: 0.8em;
  }

  .checkbox {
    white-space: nowrap;

    input {
      margin-right: 0.4em;
      width: 1em !important;
    }

    &.with-error {
      input {
        outline: solid 1px $red;
      }
    }
  }

  .form-error {
    color: $red;
    position: absolute;
    top: 87.5%;
    left: 1.5em;
    font-size: $font13px;
  }
}

[disabled],
.disabled {
  cursor: not-allowed !important;
  opacity: 0.4;
}

.text-comment {
  font-size: $font15px;
  letter-spacing: 1.2px;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-sm {
  font-size: $font14px;
}

.text-white {
  color: white !important;
}

.text-gold {
  color: $gold;
}

.text-red {
  color: $red;
}

.action-view {
  height: 100%;
}

.heading-text {
  color: $gold;
  line-height: 1.33em;
  font-weight: 500;
}

.leading-text {
  @extend .heading-text;
  font-size: $font50px;
  text-transform: uppercase;
}

.subtitle-text {
  @extend .heading-text;
  font-size: $font40px;
  text-transform: uppercase;
}

.tagline-text {
  @extend .heading-text;
  font-size: $font28px;
  font-weight: 400;
}

.text {
  font-size: $font18px;
  max-width: 40em;
}

.page {
  position: relative;
  --text-margin-left: 0;

  .inner-page {
    padding-top: calc(var(--header-height) + 1rem);
    margin: 0 auto;
    position: relative;

    h1 {
      font-weight: 500;
      text-align: center;
      color: $gold;
      text-transform: uppercase;
      margin: 0 0 0 0;
      font-size: $font30px;
    }
  }

  .text-section {
    position: relative;
    margin-left: var(--text-margin-left);

    .subtitle-text {
      margin-top: 2em;
    }

    .text {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.loader-container {
  height: 100%;

  .loader {
    width: 18em;
  }
}

.page-cover {
  position: fixed;
  z-index: 100;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;

  .loader-container {
    height: unset;
    margin: -6em 0;
  }

  .leading-text {
    font-size: $font32px;
    margin: -0.5em 0 0.8em;
  }

  .tagline-text {
    color: white;
    font-size: $font25px;
  }

  &.hide {
    animation: fadeOut 0.15s ease-in;
  }
}

.link {
  line-height: 1em;
}

.link-hover {
  &:hover:not(.disabled):not(.active) {
    animation: linkHover 0.3s linear forwards;

    &.inverted {
      animation: linkHoverInverted 0.3s linear forwards;
    }

    &.text-gold {
      animation: linkHoverGold 0.3s linear forwards;
    }
  }
}

a:not(.no-hover) {
  @extend .link-hover;
}

.close {
  color: $close_modal;
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.local-notification {
  position: absolute;
  z-index: 1210;
  color: $gold;
  font-size: $font13px;
  font-weight: 500;
  letter-spacing: 0.05em;
  opacity: 0;

  &.visible {
    animation: moveUpAndDisappear 1.2s ease-out forwards;
  }
}

@keyframes moveUpAndDisappear {
  0% {
    transform: translateY(0em);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-3em);
    opacity: 0;
  }
}

.profile-image {
  width: 11.65em;
  height: 11.65em;
  border-radius: 50%;
  filter: grayscale(1);
  background: url($CDN_URL + "/images/avatar.png") no-repeat center center;
  background-size: auto 100%;

  &.mike {
    background: url($CDN_URL + "/images/team/mike.jpg") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.8);
  }

  &.david {
    background: url($CDN_URL + "/images/team/david.jpeg") no-repeat center
      center;
    background-size: auto 100%;
    filter: grayscale(0.9);
  }

  &.asaf {
    background: url($CDN_URL + "/images/team/asaf.jpeg") no-repeat center top;
    background-size: 100% auto;
    filter: grayscale(0.95);
  }

  &.aviva {
    background: url($CDN_URL + "/images/team/aviva.jpeg") no-repeat center
      center;
    background-size: auto 100%;
    filter: grayscale(0.85);
  }

  &.tony {
    background: url($CDN_URL + "/images/team/tony.png") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.75);
  }

  &.abel {
    background: url($CDN_URL + "/images/team/abel.jpeg") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.85);
  }

  &.daniel {
    background: url($CDN_URL + "/images/team/daniel.jpeg") no-repeat center
      center;
    background-size: auto 100%;
    filter: grayscale(0.85);
  }

  &.danny {
    background: url($CDN_URL + "/images/team/danny.png") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.75);
  }

  &.coy {
    background: url($CDN_URL + "/images/team/coy.jpeg") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.75);
  }

  &.yanay {
    background: url($CDN_URL + "/images/team/yanay.jpeg") no-repeat center
      center;
    background-size: auto 100%;
  }

  &.mor {
    background: url($CDN_URL + "/images/team/mor.jpeg") no-repeat center center;
    background-size: auto 100%;
  }

  &.gals {
    background: url($CDN_URL + "/images/team/gals.jpeg") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.7);
  }

  &.galk {
    background: url($CDN_URL + "/images/team/galk.jpeg") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.75);
  }

  &.zen {
    background: url($CDN_URL + "/images/team/zen.jpeg") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.75);
  }

  &.alan {
    background: url($CDN_URL + "/images/team/alan.jpeg") no-repeat center center;
    background-size: auto 100%;
    filter: grayscale(0.8);
  }
}

.tg-link {
  &.private-tg {
    color: $gold;
    position: relative;

    svg {
      path {
        fill: $gold;
      }
    }

    &:before {
      font-size: 0.5em;
      content: "PRIVATE";
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-bottom-aligned-row {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.spaced-bottom-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.right-center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.stretch-center-aligned-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.center-center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-center-aligned-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.start-start-aligned-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.top-spaced-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.center-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-spaced-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-top-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-centered-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.left-bottom-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.left-spaced-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.spaced-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.right-spaced-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.stretch-top-aligned-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.stretched-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.animated-text {
  position: relative;
  transition: all 0.4s ease-out;
  opacity: 0;
  top: 5em;

  &.visible {
    opacity: 1;
    top: 0;
  }
}

.logo-box,
.react-player {
  position: relative;

  img {
    width: 6em;
  }

  &.with-text:after {
    content: "DIAMOND DAWN";
    position: absolute;
    bottom: -1.2em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: $font10px;
    letter-spacing: 0.1em;
    font-weight: 400;
    white-space: nowrap;
  }
}

.video-box {
  aspect-ratio: 1;
  position: relative;
  box-shadow: 0 0 4px 2px #bbbbbb44;
  border-radius: 2px;

  .react-player {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 2px;

    &.loader {
      padding: 0 15%;
    }
  }

  .loader-container {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    height: auto;
  }
}

.video-mute-icon {
  font-size: 1.25em;
  bottom: 0.5em;
  position: absolute;
  right: 0.5em;
  cursor: pointer;
}

.video-placeholder {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 4em;
  }
}

.tabs {
  .tabs-header {
    justify-content: center;
  }
}

.Toastify__toast-container {
  top: 80px !important;

  --toastify-color-dark: #b22222;
  --toastify-toast-width: 28em;
  --toastify-color-progress-error: white;

  svg {
    path {
      fill: white;
    }
  }

  &.Toastify__toast-container--bottom-center {
    top: unset !important;
    bottom: -0.5%;
  }
}

.MuiTextField-root {
  background-color: white !important;
}

// ANIMATIONS
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (min-width: 1921px) {
  html {
    font-size: calc-font-size(1px);
  }

  .MuiDrawer-root .MuiPaper-root {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1366px) {
  .page {
    font-size: $font15px;
  }
}

@media only screen and (max-width: 1199px) {
  :root {
    --header-height: 6rem;
  }

  html {
    font-size: $font12px;
  }

  .page {
    font-size: $font18px;

    .inner-page {
      h1 {
        font-size: 1.25em;
      }
    }

    .text-section {
      min-width: unset !important;
      width: 80% !important;
      margin-left: auto !important;
      margin-right: auto !important;

      .text {
        width: 100%;
      }
    }
  }

  .subtitle-text {
    font-size: $font32px;
  }

  .logo-box {
    img {
      width: 4.5em;
    }

    &.with-text {
      &:after {
        font-size: 0.5em;
      }
    }
  }

  form {
    .form-error {
      top: 85%;
      left: unset;
      right: 1.5em;
    }
  }
}

@media only screen and (max-width: 768px) {
  .text-comment {
    font-size: 2.75vw;
  }
}

@media only screen and (max-width: 480px) {
}
