@import "varsNEW";

.box {
  $padding_thin: .5em;
  $padding_wide: .5em;

  position: relative;
  border: solid 2px $border_gray;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: $padding_thin $padding_thin $padding_wide $padding_wide;

  &:before {
    content: '';
    background-color: $gray_blur;
    position: absolute;
    top: $padding_thin;
    bottom: $padding_wide;
    left: $padding_wide;
    right: $padding_thin;
    opacity: .65;
    z-index: -1;
  }

  .box-inner {
    backdrop-filter: blur(30px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

button, .button {
  --rk-radii-connectButton: 4.5em;
  font-size: $font20px;
  height: 2.75em;
  border-radius: 4.5em;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3.25em;
  cursor: pointer;
  font-weight: 500;
  width: auto;
  letter-spacing: 0;
  text-transform: uppercase;
  align-self: flex-start;
  border: none;

  svg {
    height: 1.4em;
    margin-right: 16px;
  }

  &.icon-after {
    svg {
      margin-right: 0;
      margin-left: 16px;
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.inverted,
  &.link {
    color: white;
    background-color: black;
    border-color: white !important;
  }

  &.link {
    border-color: transparent !important;

    span > span {
      background-color: white !important;
    }
  }
}

.input {
  width: 100%;
  font-size: 1em;
  height: 3.05em;
  border-radius: 5em;
  background-color: transparent;
  color: white;
  border: solid 1px white;
  padding: .65em 1em;

  &:focus {
    outline: none;
  }

  &.validation-error {
    color: red;
  }
}

textarea.input {
  border-radius: 0.65em;
}