$headerHeight: 120px;
$videoHeight: 400px;
$videoWidth: calc($videoHeight * 16 / 9);

$secondary_gray: #8a8a8a;
$darker-gray: #707070;
$lighter-gray: #9d9d9d;

$white: white;
$dark: black;
$gray: #4d4d4d;
$light-gray: #7e7d7d;
$progress-gray: #e7e7e7;
$red: #8d2129;
$light-red: red;
