$headerHeight: 6.25rem;
$videoHeight: 400px;
$videoWidth: calc($videoHeight * 16 / 9);

// colors
$gray: #404040;
$gray_blur: #4a4a4a;
$text_gray: #8a8a8a;
$border_gray: #979797;
$disabled_gray: #5c5c5c;
$disabled_text_gray: #787878;

// fonts
$font15px: 0.9375rem;
$font18px: 1.125rem;
$font20px: 1.25rem;
$font25px: 1.5625rem;
$font30px: 1.875rem;
$font32px: 2rem;
$font34px: 2.125rem;
$font36px: 2.25rem;
$font42px: 2.625rem;
$font50px: 3.125rem;
$font80px: 5rem;
