$headerHeight: 100px;
$videoHeight: 400px;
$videoWidth: calc($videoHeight * 16 / 9);

// colors
$gray: #404040;
$gray_blur: #4a4a4a;
$text_gray: #8a8a8a;
$border_gray: #979797;
$disabled_gray: #5c5c5c;
$disabled_text_gray: #787878;

// fonts
$font15px: 0.9375em;
$font18px: 1.125em;
$font20px: 1.25em;
$font25px: 1.5625em;
$font30px: 1.875em;
$font32px: 2em;
$font34px: 2.125em;
$font36px: 2.25em;
$font42px: 2.625em;
$font50px: 3.125em;
$font80px: 5em;
