# WARNING - DO NOT  COMMIT THIS FILE WHEN IT CONTAINS REAL DATA #

ETHERSCAN_API_KEY=<>
ROPSTEN_URL=https://ropsten.infura.io/v3/<key>
RINKEBY_URL=https://rinkeby.infura.io/v3/<key>
GOERLI_URL=https://goerli.infura.io/v3/<key>
MUMBAI_URL=https://polygon-mumbai.infura.io/v3/<key>
PRIVATE_KEY=<>
MONGODB_URI=<>

# DEPLOYMENT
HARDHAT_NETWORK = localhost
# Admins + allow-list addresses
ADMINS="0x0032Bc11DbE93CDE3786c812cdb60E83438DAfd1 0x8Fe6CA9BF97a1A85005DA2Fff973342D71132463"
