@import "css/vars";

.page.admin-page {
  main {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: $headerHeight + 40px;
  }

  h1 {
    text-align: center;
  }

  .button {
    margin: 80px auto 40px;
    width: 300px;
  }

  .add-button {
    margin: unset;
    width: 160px;
    justify-content: flex-start;
    padding: 0 18px;
  }

  .save-button {
    margin: unset;
    width: 100px;
    justify-content: flex-end;
    padding: 0 18px;
  }

  input[type=text] {
    margin-bottom: 10px;
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 40px;
  }

  .table-container {
    background-color: white;
  }

  .admin-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    .title {
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }

    .button {
      margin-top: 10px;
      height: 32px;
      font-size: 1em;
    }

    .token-section {
      margin-top: 20px;
    }
  }

  .stages {
    width: 520px;

    .stage-row {
      margin-bottom: 40px;
    }

    .inner-row {
      justify-content: flex-end;
    }

    input {
      width: 180px;
    }

    .btn-save {
      width: 60px;
      margin: 0;
      margin-left: 40px;
    }
  }

  table {
    width: 100%;
    text-align: left;

    thead tr th {
      font-weight: 700;
      min-width: 30px;
    }

    tbody tr td {
      padding: 10px 0;
      min-width: 30px;

      svg {
        cursor: pointer;

        &.copied {
          path {
            fill: green;
          }
        }
      }
    }
  }
}