@import "css/varsNEW";

.minting-address-row {
  width: 100%;
  margin-top: 2.5em;
  padding-top: 2em;
  border-top: solid 1px $border_opaque;

  .button {
    font-size: $font14px;

    svg {
      font-size: 1.8em;
    }
  }

  .disabled {
    opacity: 0.6 !important;
  }
}

@media only screen and (max-width: 1199px) {
  .minting-address-row {
    font-size: 3.3vw;
    flex-direction: column;
    margin-top: 1.5em;
    padding-top: 1em;

    .center-aligned-column {
      align-self: flex-end;
    }
  }
}
