@import "css/varsNEW";

.password-box {
  text-align: center;
  color: $light_gray;

  .input-container {
    margin: 0 auto 2.5em;
    position: relative;
    width: 14em;
    font-size: $font25px;

    input {
      position: relative;
      z-index: 1;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 1.6em;
      padding-left: 0.2em;
      color: $light-gray;
      letter-spacing: 0.78em;
      caret-color: transparent;
    }

    .underscore {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      justify-content: space-between;

      .char-underscore {
        width: 1em;
        height: 1px;
        background-color: $light_gray;
      }
    }

    &.focused {
      input {
        animation: passwordFocus 1.5s ease-in-out infinite;
      }

      .underscore {
        .char-underscore {
          animation: underscoreFocus 1.5s ease-in-out infinite;
        }
      }
    }
  }

  @keyframes passwordFocus {
    0% {
      color: $light_gray;
    }
    35% {
      color: white;
    }
    70% {
      color: $light_gray;
    }
  }

  @keyframes underscoreFocus {
    0% {
      background-color: $light_gray;
    }
    35% {
      background-color: white;
    }
    70% {
      background-color: $light_gray;
    }
  }

  .button {
    width: 13em;
    margin: 0 auto;
  }

  &.has-error {
    .input-container {
      animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
    }
  }
}
