@import "css/vars";

.password-box {
  text-align: center;
  color: $lighter-gray;

  .password-title {
    margin-bottom: 2%;
    font-size: 1.25em;
  }

  .input-container {
    border: solid 1px $darker-gray;
    border-radius: 10px;
    box-shadow: 0 20px 60px #00000054;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }

  input {
    position: relative;
    z-index: 1;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    padding: 0.5em 1.2em 0.5em 2em;
    color: $white;
    letter-spacing: 0.8em;
    text-align: center;
  }

  &.loading {
    input {
      animation: scale 1s ease-in-out infinite;
    }
  }

  &.has-error {
    .input-container {
      animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
    }
  }
}

@media only screen and (max-width: 767px) {
  .password-box {
  }
}
