@import "css/varsNEW";

.page.collector-page .nfts {
  display: flex;
  align-items: center;
  justify-content: center;

  .layout-box,
  .gallery,
  .goto-opensea {
    display: flex;
    height: 85%;
    width: 90%;
    position: relative;
  }

  .layout-box {
    justify-content: flex-start;
    $nftBorderColor: white;

    .border-box {
      position: absolute;
      width: 100%;
      height: calc(50% - 1.5em);
      left: 0;
      border: solid 1px $nftBorderColor;
      z-index: -1;

      &.top-border-box {
        top: 0;
        border-bottom: none;
      }

      &.bottom-border-box {
        bottom: 0;
        border-top: none;
      }

      &.middle-border-box {
        height: 3em;
        top: calc(50% - 1.5em);
        border-top: none;
        border-bottom: none;
        border-left: solid 1px $nftBorderColor;
        border-right: solid 1px $nftBorderColor;

        &.with-back-btn {
          border-left: none;
        }
        &.with-forward-btn {
          border-right: none;
        }
      }
    }

    .diamond-box {
      height: 100%;
      aspect-ratio: 1;
      padding: 0.5em;
      position: relative;
      z-index: 1;
      background-color: black;
    }

    .carousel-box {
      height: 100%;
    }

    .certificate {
      margin-top: 2em;

      .traits {
        width: 50%;

        .trait {
          line-height: 1.5em;
          margin-bottom: 0.5em;

          .underline {
            position: relative;
            flex-grow: 2;
            height: 1.5em;
            overflow: hidden;
            margin: 0 0.25em;

            &:after {
              color: $gold;
              content: ".........................................................................";
              letter-spacing: 0.1em;
              position: absolute;
              bottom: 0;
              width: 100%;
            }
          }
        }
      }
    }

    .content-box {
      flex-grow: 2;
      padding: 1.5em 3em 2.5em;
      animation: showCertificate 0.25s ease-out forwards;
      animation-delay: 0.75s;
      opacity: 0;
      z-index: -1;
      background-color: #1f1f1f;
      margin: 1.25em 0 0.5em;
      box-shadow: 0 0 2px 2px #5c5c5cbb;

      .card-header {
        .react-player {
          width: 8em;
          margin: -0.5em -1em 0 0;
        }
      }

      .tagline-text {
        color: white;
      }

      &.hidden {
        animation: hideCertificate 0.25s ease-in forwards;
      }
    }

    .nft-plate {
      margin-top: 2em;
      position: relative;
      font-size: 0.8em;
      font-weight: 500;
      padding: 0 0.5em;
      --seperator-color: #caa87555;

      .bg {
        background: black url($CDN_URL + "/images/collector/nft-plate.jpg")
          no-repeat center center;
        background-size: 100% auto;
        opacity: 0.3;

        .nail {
          position: absolute;
          $nailMargin: 0.125em;
          $nailSize: 0.8em;
          width: $nailSize;
          height: $nailSize;
          background: url($CDN_URL + "/images/collector/plate-nail.png")
            no-repeat center center;

          &:nth-child(1) {
            top: $nailMargin;
            left: $nailMargin;
          }
          &:nth-child(2) {
            top: $nailMargin;
            right: $nailMargin;
          }
          &:nth-child(3) {
            bottom: $nailMargin;
            right: $nailMargin;
          }
          &:nth-child(4) {
            bottom: $nailMargin;
            left: $nailMargin;
          }
        }
      }

      .phases {
        height: 100%;
        justify-content: space-around;

        .phase-info {
          width: 20%;
          height: 4em;
          margin: .5em 0;
          position: relative;

          .unrevealed {
            font-size: 2.5em;

            .react-player {
              width: 2.5em;
            }
          }

          &:not(:last-child) {
            &:after {
              content: "";
              position: absolute;
              top: .3em;
              bottom: .3em;
              right: 0;
              width: 1px;
              background-color: var(--seperator-color);
            }
          }
        }
      }
    }

    .box-button {
      font-size: 0.75em;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      cursor: pointer;
      border: solid 2px #ffffffbb;
      border-radius: 50%;
      padding-right: 0.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3em;
      height: 3em;
      background-color: #4d4d4d88;

      svg {
        font-size: 1.8em;
        opacity: 0.75;
      }

      &.back {
        left: 0;
      }

      &.forward {
        left: 100%;
        padding-right: 0;
        padding-left: 0.2em;
      }
    }
  }

  .gallery {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 6.5% 6.5% 0;
    width: 100%;

    .gallery-item {
      width: 27.5%;
      margin-bottom: 6.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;

      .react-player {
        width: 100%;
        height: 100%;
      }

      .token-id {
        font-size: $font20px;
      }

      &.active {
        transition: all 0.5s ease-out;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
      }
    }
  }

  .goto-opensea {
    .logo {
      width: 7.5em;
      font-size: 2.5em;
      margin-bottom: 2em;

      .react-player {
        width: 100% !important;

        video {
          margin: -2.8em 0;
        }
      }
    }

    .text {
      margin: 1em 0 3em;
      font-size: $font20px;
      max-width: 32em;
    }
  }

  @keyframes showCertificate {
    0% {
      transform: translateX(-95%);
      opacity: 0;
      z-index: -1;
    }
    10% {
      transform: translateX(-85.5%);
      opacity: 1;
    }
    99% {
      z-index: -1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      z-index: 0;
    }
  }

  @keyframes hideCertificate {
    0% {
      transform: translateX(0);
      opacity: 1;
      z-index: 0;
    }
    1% {
      z-index: -1;
    }
    90% {
      transform: translateX(-85.5%);
      opacity: 1;
    }
    100% {
      transform: translateX(-95%);
      opacity: 0;
      z-index: -1;
    }
  }
}

@media only screen and (max-width: 480px) {
  .page.collector-page .nfts.nft {
    &:before {
      background-color: unset;
    }

    .layout-box {
      flex-direction: column;
      width: 105%;
      height: unset;
      margin-top: -2.5%;

      .diamond-box {
        height: 90vw;
      }

      .content-box {
        padding: 2em 1.5em 2.5em;
        border-top: none;
        border-left: solid 3px $border_opaque;
        margin: 0;
      }

      .nft-plate {
        height: unset;

        .bg {
          background-size: auto 100%;
        }

        .phases {
          flex-wrap: wrap;

          .phase-info {
            width: 33.33%;
            &:nth-child(3) {
              &:after {
                display: none;
              }
            }
            &:nth-child(4), &:nth-child(5) {
              width: 50%;

              &:before {
                content: "";
                position: absolute;
                left: .8em;
                right: .8em;
                top: -0.5em;
                height: 1px;
                background-color: var(--seperator-color);
              }
            }
            &:nth-child(4) {
              &:before {
                right: 0;
              }
            }
            &:nth-child(5) {
              &:before {
                left: 0;
              }
            }
          }
        }
      }
    }

    @keyframes showCertificate {
      0% {
        transform: translateY(-95%);
        opacity: 0;
        z-index: -1;
      }
      10% {
        transform: translateY(-85.5%);
        opacity: 1;
      }
      99% {
        z-index: -1;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
        z-index: 0;
      }
    }

    @keyframes hideCertificate {
      0% {
        transform: translateY(0);
        opacity: 1;
        z-index: 0;
      }
      1% {
        z-index: -1;
      }
      90% {
        transform: translateY(-85.5%);
        opacity: 1;
      }
      100% {
        transform: translateY(-95%);
        opacity: 0;
        z-index: -1;
      }
    }
  }
}
