@import "css/varsNEW";

footer.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-color: black;
  margin-top: -3em;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left 10%,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );

  .bg.bg-footer {
    background: url($CDN_URL + "/images/footer.png") no-repeat center center;
    background-size: cover;
    height: 17.5em;
    top: unset;
  }

  .footer-inner {
    margin: 0 auto 0;
    padding: 12rem 0 2.5rem;
    min-width: 40em;

    & > div {
      padding: 0 0 0.25em;
    }
  }

  .separator {
    height: 100%;
    width: 1px;
    background-color: $close_modal;
    margin: 0 3em;
  }

  .logo-box {
    margin-bottom: 1.5em;
  }

  .footer-menu {
    flex-grow: 2;

    .icon {
      margin: 0 1.5em;
      padding-top: 0.5em;

      svg {
        width: 1.5em;
      }
    }

    .top-menu {
      font-size: $font20px;

      * {
        font-weight: 500;
      }
    }

    .bottom-menu {
      margin-top: 1em;

      a:not(:last-child) {
        margin-right: 3em;
      }

      .link {
        font-size: $font15px;
        text-decoration: underline;
        color: $text_gray;
      }
    }
  }

  .faq-section {
    width: 60%;
    margin: 0 auto;
    padding-top: 10em;
    z-index: 1;
    position: relative;

    .leading-text {
      text-align: center;
      margin: 0;
    }
  }

  &.with-faqs {
    -webkit-mask-image: -webkit-gradient(
                    linear,
                    left top,
                    left 4%,
                    from(rgba(0, 0, 0, 0)),
                    to(rgba(0, 0, 0, 1))
    );
  }

  &.faqs-open {
    -webkit-mask-image: -webkit-gradient(
                    linear,
                    left top,
                    left 2%,
                    from(rgba(0, 0, 0, 0)),
                    to(rgba(0, 0, 0, 1))
    );
  }
}
