@import "css/varsNEW";

footer.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  background-color: black;

  .bg.bg-footer {
    background: url($CDN_URL + "/images/footer.png") no-repeat center center;
    background-size: cover;
    height: 17.5em;
    top: unset;
    z-index: 0;
  }

  .top-mask {
    position: absolute;
    top: -2em;
    left: 0;
    height: 2em;
    width: 100%;
    background-color: black;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 1))
    );
  }

  .footer-inner {
    margin: 0 auto 0;
    padding: 17rem 0 2.5rem;
    min-width: 40em;
    z-index: 1;

    & > div {
      padding: 0 0 0.25em;
    }
  }

  .separator {
    height: 100%;
    width: 1px;
    background-color: $close_modal;
    margin: 0 3em;
  }

  .logo-box {
    margin-bottom: 1.5em;
  }

  .social-icons {
    font-size: 0.8em;
  }

  .footer-menu {
    flex-grow: 2;

    .icon {
      margin: 0 1.5em;
      padding-top: 0.5em;

      svg {
        width: 1.5em;
      }
    }

    a.active {
      font-size: 1.15em;
      cursor: default;
    }

    .top-menu {
      font-size: $font20px;

      * {
        font-weight: 500;
      }

      span.icon.last-star {
        display: none;
      }
    }

    .bottom-menu {
      margin-top: 1em;

      a {
        color: $text_gray;

        &:not(:last-child) {
          margin-right: 3em;
        }

        .link {
          font-size: $font15px;
          text-decoration: underline;
        }
      }
    }
  }

  .faq-section {
    width: 50%;
    font-size: $font14px;
    margin: 0 auto;
    padding-top: 10em;
    z-index: 1;
    position: relative;

    .subtitle-text {
      text-align: center;
      margin: 0;
      text-transform: unset;
    }
  }

  .featured-in {
    margin-top: 10em;
    padding: 2em 0 3em;
    z-index: 1;

    .articles {
      margin-top: 1.25em;
    }
  }

  &.with-faqs {
    .footer-inner {
      padding-top: 15rem;
    }

    .featured-in {
      margin-top: 6em;
    }
  }
}

@media only screen and (max-width: 1200px) {
  footer.footer {
    .bg.bg-footer {
      height: 37em;
    }

    .footer-inner {
      min-width: unset;
      flex-direction: column-reverse;
      width: 75%;
    }

    .footer-menu {
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 2.5em;
      justify-content: space-between;

      .separator {
        display: none;
      }

      .top-menu,
      .bottom-menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        line-height: 1.3em;

        a {
          margin-top: 1rem;
        }
      }

      .top-menu {
        margin-bottom: -2.6em;

        a {
          margin-top: -1.8em;
        }

        span.icon {
          display: inline-block !important;
          transform: translate(-250%, -80%);

          svg {
            width: 1.25em;
          }
        }
      }

      .bottom-menu {
        a {
          margin-right: 0 !important;
        }
      }
    }

    .faq-section {
      width: 85%;
      padding-top: 7em;
    }

    .featured-in {
      margin-top: 6em;
      padding: 1.5em 0 2em;

      .articles {
        margin-top: .75em;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  footer.footer {
    .footer-inner {
      width: 90%;
      padding-left: 5%;
    }
  }
}
