@import "css/varsNEW";

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #707070;
  z-index: 1001;
  //opacity: 0;
  //animation: fadeIn ease-in .25s forwards;

  .modal-inner {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 2em 3em 3em;
    text-align: center;
    position: relative;

    &:before {
      content: "";
      background-color: $modal_bg_gray;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.75;
      transform: translate(-50%, -2em);
    }
  }

  .close {
    color: $close_modal;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
  }

  .modal-heading {
    font-size: $font25px;
  }

  .modal-content {
    font-size: $font20px;
    line-height: 1em;
  }

  .modal-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin: 0;
      padding: 0;
      width: 9em;
      text-transform: unset;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 480px) {
  .modal {
    width: 96% !important;
  }
}
