@import "css/varsNEW";

.MuiDrawer-root .MuiPaper-root {
  padding: 8em 2em 3em;
  width: 20em;
  background: #4a4a4a;
  box-shadow: 0 0.4em 1.2em #00000029;
  color: white;
  backdrop-filter: blur(30px);
  justify-content: space-between;

  &:before {
    content: "";
    width: 100%;
    height: var(--header-height);
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
  }

  .menu-item {
    margin-bottom: 0.8em;
    font-size: $font20px;
  }

  .menu {
    .button {
      margin-top: 1em;
    }
  }

  .invitations-menu {
    padding: 1.5em 0 1em;
    margin: 2em 0;
    border-top: solid 1px #707070;
    border-bottom: solid 1px #707070;
  }

  .invited-by {
    font-size: $font12px;
    text-align: center;

    * {
      font-weight: 500;
    }

    img {
      width: 100%;
      margin-bottom: -1.5em;
    }
  }
}
