@import "css/varsNEW";

.home-background {
  background-color: black;
  position: relative;

  .bg {
    z-index: -25;
    transition: transform 0.1s ease-out;

    &.black-box {
      height: 0.4 * $viewHeightRef;
      top: 99%;
      background-color: black;
      z-index: -21;
    }

    &.stars {
      height: $viewHeightRef;
      top: 100vh;
      background: black url($CDN_URL + "/images/homepage/stars.png") repeat-y
        center center;
      background-size: 100% auto;
      background-attachment: fixed;
      z-index: -20;
      // ROTATION
      //width: 200%;
      //height: 100%;
      //left: -50%;
      //top: -25%;
      //transform: rotate(-90deg);
      //animation: rotateStars 720s linear infinite;
    }

    &.leaves-left {
      background: url($CDN_URL + "/images/homepage/homepage-leaves-left.png")
        no-repeat top left;
      background-size: auto 50%;
      z-index: -15;
    }
    &.leaves-right {
      background: url($CDN_URL + "/images/homepage/homepage-leaves-right.png")
        no-repeat right 10%;
      background-size: auto 50%;
      z-index: -15;
    }
    &.sky {
      background: url($CDN_URL + "/images/homepage/sky.jpg") left center;
      animation: moveBackground 240s linear infinite;
      z-index: -30;
      background-size: auto 100%;
    }
    &.mountains-back {
      background: url($CDN_URL + "/images/homepage/homepage-mountains-back.png")
        no-repeat center 93%;
      z-index: -22;
      background-size: contain;
    }
    &.mountains-front {
      background: url($CDN_URL + "/images/homepage/homepage-mountains-front.png")
        no-repeat center bottom;
      z-index: -10;
      background-size: contain;
    }
  }

  @keyframes moveBackground {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -315.2585vh;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-background {
    .bg {
      &.leaves-left,
      &.leaves-right {
        background-size: auto 30%;
      }

      &.mountains-back {
        background-position-y: 80%;
        background-size: 100% auto;
      }

      &.mountains-front {
        background-position-y: 83%;
        background-size: 100% auto;
      }

      &.black-box {
        height: 40vh;
        top: 84%;
      }

      &.stars {
        top: 90vh;
        height: 240vh;
        background-size: auto 100%;
      }
    }

    .scroll-marker {
      font-size: $font13px;
      left: 4%;
      bottom: 10%;
    }
  }
}
