@import "css/varsNEW";

.home-background {
  background-color: black;
  position: relative;

  &,
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -25;

    &.black-box {
      background-color: black;
      top: 99%;
      height: 300%;
      z-index: -20;
    }

    &.stars {
      background: black url($CDN_URL + "/images/homepage/stars.png") repeat-y
        center center;
      background-size: 100% auto;
      background-attachment: fixed;
      z-index: -20;

      // ROTATION
      //width: 200%;
      //height: 100%;
      //left: -50%;
      //top: -25%;
      //transform: rotate(-90deg);
      //animation: rotateStars 720s linear infinite;
    }

    &.leaves-left {
      background: url($CDN_URL + "/images/homepage/homepage-leaves-left.png")
        no-repeat top left;
      background-size: auto 50%;
      z-index: -15;
    }
    &.leaves-right {
      background: url($CDN_URL + "/images/homepage/homepage-leaves-right.png")
        no-repeat top right;
      background-size: auto 50%;
      z-index: -15;
    }
    &.sky {
      background: url($CDN_URL + "/images/homepage/sky.png") left center;
      animation: moveBackground 240s linear infinite;
      z-index: -30;
      background-size: auto 100%;
    }
    &.mountains-back {
      background: url($CDN_URL + "/images/homepage/homepage-mountains-back.png")
        no-repeat center 93%;
      z-index: -20;
      background-size: contain;
    }
    &.mountains-front {
      background: url($CDN_URL + "/images/homepage/homepage-mountains-front.png")
        no-repeat center bottom;
      z-index: -10;
      background-size: contain;
    }
  }

  @keyframes moveBackground {
    0% {
      background-position-x: 0;
    }
    100% {
      background-position-x: -315.2585vh;
    }
  }
}
