@import "css/varsNEW";

.home-background {
  background-color: black;
  position: relative;

  &,
  .bg,
  .bg-leaves {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &.parallax {
      position: fixed;
    }
  }

  .bg-leaves:nth-child(1) {
    background: url($CDN_URL + "/images/homepage/homepage-leaves-left.png")
      no-repeat top left;
    background-size: 20%;
  }
  .bg-leaves:nth-child(2) {
    background: url($CDN_URL + "/images/homepage/homepage-leaves-right.png")
      no-repeat top right;
    background-size: 20%;
  }
  .bg:nth-child(3) {
    background: url($CDN_URL + "/images/homepage/homepage-sky.png") center 93%;
    animation: moveBackground 180s linear infinite;
  }
  .bg:nth-child(4) {
    background: url($CDN_URL + "/images/homepage/homepage-mountains-back.png")
      no-repeat center 93%;
  }
  .bg:nth-child(5) {
    background: url($CDN_URL + "/images/homepage/homepage-mountains-front.png")
      no-repeat center bottom;
  }

  @keyframes moveBackground {
    0% {
      background-position-x: 0;
    }
    50% {
      background-position-x: -1000px;
    }
    100% {
      background-position-x: 0;
    }
  }
}
