@import "css/varsNEW";
@import "css/animations";
@import "css/functions";

.page.homepage {
  position: relative;
  height: 100vh;
  $animationMultiplier: 1;

  --text-margin-left: 20%;

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .top-content {
    position: relative;
    height: 100%;
    width: 110%;
    margin-left: -5%;
    text-align: center;
    z-index: 1;

    $fadeTime: 0.75s * $animationMultiplier;

    .common-view {
      font-size: calc-font-size(1px);
      position: relative;
      opacity: 1;
      margin-top: -8em;

      .logo-box,
      .react-player {
        margin-bottom: 2.5em;
        width: unset !important;
        height: 22em !important;
        aspect-ratio: 2.55;

        img {
          width: 100%;
        }

        video {
          margin-top: 6em;
        }

        &.with-text:after {
          bottom: -1em;
          font-size: $font30px;
        }
      }
    }

    .text {
      color: $text_gray;
      letter-spacing: 0.2rem;
    }

    .countdown-container {
      position: relative;
      margin: 4em 0 3.5em;

      .text {
        color: white;
        margin-bottom: 1.2em;
      }

      .countdown {
        .value {
          font-size: $font80px;
          font-weight: 100;
        }
        .caption {
          font-size: $font15px;
        }
      }
    }
  }

  .homepage-content {
    position: relative;
    z-index: 2;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    top: 9vh;
  }

  .text-section {
    position: relative;
    margin-left: var(--text-margin-left);

    .leading-text {
      color: $gold;
      margin: 4rem 0 2rem;
    }

    .text {
      line-height: 2em;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .eternal-treasures,
  .scarcity,
  .value-section,
  .the-experiment {
    position: relative;
    display: flex;
  }

  .eternal-treasures {
    .text-section {
      width: 40%;
      min-width: 42em;

      .leading-text {
        margin-top: 0;
      }
    }
  }

  .scarcity {
    .text-section {
      width: 49%;
      min-width: 50em;
    }
  }

  .value-section {
    .text-section {
      width: 45%;
      min-width: 46em;
    }
  }

  .the-experiment {
    .text-section {
      width: 40%;
      min-width: 48em;
    }
  }

  .teaser-video {
    z-index: 1;

    .react-player {
      opacity: 0.25;
    }
  }
}

@media only screen and (max-width: 1540px) {
  .page.homepage {
    --text-margin-left: 15%;

    .eternal-treasures-background {
      --edge-offset: -5%;

      .bg {
        &.bg-right-hand {
          background-position-y: 52%;
        }

        &.bg-left-hand {
          background-position-y: 53%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .page.homepage {
    font-size: $font15px;

    .homepage-content-background {
      --edge-offset: -7%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page.homepage {
    font-size: $font14px;
    --text-margin-left: 10%;

    .homepage-content-background {
      --edge-offset: -12%;
    }
  }
}
