@import "css/vars";

.page.homepage {
  $boxHeight: 98vh;
  position: relative;
  height: calc($boxHeight * 3);
  overflow: hidden;

  //.bg, .bg-stars {
  .bg {
    transition: all .5s ease-in-out;
    transform: scale(1);
  }

  .bg {
    z-index: 0;
    position: absolute;
    height: calc($boxHeight * 3);
    width: 100%;
    background: url(../../assets/images/bg-image.png) no-repeat bottom -246vh center;
    background-size: 105%;
    //background: url("../../assets/images/bg-image.png") no-repeat bottom -250vh left 0;
    //background-size: 100% auto;
  }

  .bg-stars {
    position: absolute;
    width: 100%;
    height: calc($boxHeight * 3);
    bottom: 0;
    z-index: 0;
    background: url("../../assets/images/bg-stars.png") no-repeat bottom -20vh left 0;
    background-size: 100% auto;
  }

  .box {
    height: $boxHeight;
    z-index: 1;
    position: relative;
  }

  .box-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .common-view {
      margin-top: -8%;
    }

    .leading-text {
      font-size: 3.125em;
    }

    .secondary-text {
      font-size: 1.875em;
    }

    .react-player {
      min-height: 180px;
      height: 240px !important;
      width: auto !important;
    }

    .title {
      font-size: 2.5em;
      margin-bottom: 4.5%;
    }

    .scroll-marker {
      position: absolute;
      bottom: 12%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .box-middle {
    .video-player {
      height: 90vh;
      aspect-ratio: 16 / 9;
      margin: 0 auto;

      .react-player, .video-placeholder {
        font-size: 4em;
        background-color: white;
        color: black;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .box-bottom {
    //.bg{
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  z-index: -1;
    //  background: url("../../assets/images/bg-stars.png") no-repeat 0 center;
    //  background-size: 100% auto;
    //}

    .password-box {
      margin-top: 3%;
    }

    .join-us {
      letter-spacing: 2px;
      margin: 6% 0 5%;
      font-size: 1.25em;

      .button {
        margin-top: 5%;
      }
    }
  }

  &.entered {
    .bg, .bg-stars {
      transform: scale(1.5);
    }

    .bg {
      background-position: bottom -208vh left 0;
    }

    .bg-stars {
      background-position: bottom 10vh left 0;
    }
  }
}
