@import "css/varsNEW";
@import "css/animations";
@import "css/functions";

.page.homepage {
  position: relative;
  height: 100vh;
  $animationMultiplier: 1;
  $stoneHigh: -15%;
  $stoneLow: -10%;

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .top-content {
    position: relative;
    height: 100%;
    width: 110%;
    margin-left: -5%;
    text-align: center;
    z-index: 1;

    $fadeTime: 0.75s * $animationMultiplier;

    .common-view {
      position: relative;
      opacity: 1;
      //animation: fadeInGrow $fadeTime ease-out forwards;
      //animation-delay: 0.75s;
      margin-top: -8em;

      .logo-box, .react-player {
        margin-bottom: 5em;
        width: 20em;
        aspect-ratio: 2.55;

        img {
          width: 100%;
        }

        video {
          margin-top: 6em;
        }

        &.with-text:after {
          bottom: -1.5em;
          font-size: $font30px;
        }
      }
    }

    .text {
      color: $text_gray;
      letter-spacing: 0.2rem;
    }

    .countdown-container {
      width: 26em;
      min-width: 26em;
      position: relative;
      margin: 3rem 0 2rem;

      .text {
        margin-bottom: 0.4em;
      }

      .countdown {
        .value {
          font-size: $font80px;
          font-weight: 100;
        }
        .caption {
          font-size: $font15px;
        }
      }
    }
  }

  .info-section {
    position: relative;
    height: 1.8 * $viewHeightRef;
    z-index: 2;
    min-height: 1500px;
  }

  .text-section {
    position: relative;
    width: 42.5%;

    .leading-text {
      margin-bottom: 2rem;
      padding-top: 10%;
    }

    .text {
      line-height: 2em;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .eternal-treasures, .scarcity, .value-section {
    position: relative;
    display: flex;
    height: 33.33%;
  }

  .eternal-treasures {
    .et-bg {
      flex-grow: 2;
      position: relative;

      .statue {
        height: 150%;
        top: 10%;
        z-index: -1;
        background: url("../../assets/images/statue.png")
        no-repeat right -25%;
        background-size: auto 100%;
        background-position-y: 0;
      }

      .rough-diamond {
        position: absolute;
        top: $stoneLow;
        left: 45%;
        height: 20%;
        animation: moveStone 5s linear infinite;
      }
    }

    .text-section {
      margin-right: 7.5%;
      min-width: 42em;
    }
  }

  .scarcity {
    justify-content: flex-start;

    .text-section {
      margin-left: 12.5%;
      min-width: 40em;

      .leading-text {
        padding-top: 12.5%;
      }
    }
  }

  .value-section {
    justify-content: center;

    .text-section {
      margin-left: 12.5%;
      min-width: 46em;
    }
  }

  .teaser {
    z-index: 1;
    position: relative;
    height: $viewHeightRef;
    color: white;

    .react-player {
      opacity: 0.25;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .content {
      position: absolute;
      width: 50%;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      z-index: 1;

      .leading-text {
        align-self: flex-start;
      }

      .text-center {
        margin-top: 1rem;
      }

      svg {
        font-size: $font30px;
        margin: 3rem 0 1rem;
      }

      .button {
        margin-top: 1rem;
      }
    }
  }

  @keyframes moveStone {
    0% {
      top: $stoneLow;
    }
    50% {
      top: $stoneHigh;
    }
    100% {

      top: $stoneLow;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .page.homepage {
    .eternal-treasures {
      .et-bg {
        .rough-diamond {
          left: 25%;
        }
      }
    }

    .scarcity {
      .text-section {
        margin-left: 7.5%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page.homepage {
    font-size: $font14px;

    .eternal-treasures {
      .text-section {
        margin-right: 5%;
      }
    }
  }
}

//@media only screen and (max-width: 1200px) {
//  .page.homepage {
//    //--base-font-size: 22;
//    //font-size: calc-font-size(1px);
//    font-size: $font14px;
//  }
//}

//@media only screen and (max-width: 1024px) {
//  .page.homepage {
//    font-size: 12.5px;
//  }
//}
