.request-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;

  .secondary-text {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    margin-top: 20px;
    padding: 12px 18px;
    border: none;
    border-left: solid 5px transparent;

    &:focus {
      outline: none;
    }

    &.validation-error {
      border-color: red;
    }

    &.validation-success {
      border-color: green;
    }
  }

  .button {
    width: 350px;
    margin: 40px auto;
  }
}