$headerHeight: 120px;
$videoHeight: 400px;
$videoWidth: calc($videoHeight * 16 / 9);

$white: white;
$dark: black;
$gray: #4d4d4d;
$light-gray: #7e7d7d;
$progress-gray: #e7e7e7;
$red: #8d2129;
$light-red: red;
