$headerHeight: 80px;
$videoHeight: 400px;
$videoWidth: calc($videoHeight * 16 / 9);

$white: white;
$dark: black;
$gray: #4d4d4d;
$light-gray: #7e7d7d;
$progress-gray: #e7e7e7;
$red: #8d2129;
$light-red: red;
$gold: #caa875;
$selected: #b9dee3;

$toApprove: #22a12255;
$good: lighten(#22a12255, 35%);
$maybe: #e3b25955;
$rejected: #ff000055;
$inReview: #c272c255;
