@import "css/varsNEW";

.increase-chances {
  .increase-text {
    font-size: $font13px;
    cursor: pointer;
    text-decoration: underline;
    width: 24em;
  }

  .popup {
    position: absolute;
    bottom: 2em;
    left: 0;
    background-color: $modal_bg_gray;
    border: solid 1px $close_modal;
    text-align: left;
    padding: 0.5em;
    width: 26em;
    z-index: 20;

    ul {
      list-style-type: decimal;

      li {
        margin-bottom: 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .increase-chances {
    .popup {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
