@import "css/varsNEW";
@import "css/functions";

.page.info-page.the-journey-page {
  ul {
    display: flex;

    li:not(:first-child) {
      margin-left: 4em;
    }
  }

  .journey {
    width: 72%;
    margin-left: 13%;

    .journey-phases {
      position: relative;
    }

    .scale {
      position: absolute;
      top: 1.3em;
      width: 3.75em;
      left: 14em;
      background: url($CDN_URL + "/images/about/scale.svg") no-repeat center top;
      height: 96%;
      background-size: auto 100%;

      .marker {
        position: absolute;
        left: -2.2em;
        top: 0;
        font-size: 1.6em;
        color: $gray_blur;
        transform: translateY(-50%);

        &.marker30 {
          top: 25%;
        }

        &.marker60 {
          top: 50%;
        }

        &.marker90 {
          top: 75%;
        }
      }
    }

    .secondary-text {
      margin: 0 0 0.5em;
    }

    .journey-row {
      width: 100%;

      .image-side {
        width: 20em;
        min-width: 20em;
        text-align: left;

        .image {
          width: 10em;
          height: 10em;
          text-align: center;
        }
      }

      .text-side {
        flex-grow: 2;
        position: relative;
        padding: 0 0 4em 4em;
        min-height: 12em;
      }

      .meter {
        position: absolute;
        top: 2.25em;
        bottom: -0.3em;
        left: 0;
        width: 1px;
        background-color: $border_gray;

        &:before {
          content: "";
          position: absolute;
          top: -0.8em;
          left: 50%;
          transform: translate(-50%, -65%);
          width: 1em;
          height: 1em;
          border-radius: 50%;
          background-color: $border_gray;
        }

        &.active {
          background-color: white;
          top: 2.75em;
          bottom: -0.25em;

          &:before {
            background-color: white;
            top: -1.3em;
          }

          &:after {
            content: "";
            position: absolute;
            top: -1.3em;
            left: 50%;
            transform: translate(-50%, -60%);
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            border: solid 2px white;
          }
        }
      }

      .countdown {
        font-size: $font10px;
      }

      &.journey-desc {
        justify-content: flex-start;

        .text-side {
          width: 50%;
          padding-bottom: 6em;
          padding-left: 0;
          flex-grow: unset;
        }
      }

      &.phase-0 {
        .key-image {
          height: 10em;
          transform: rotate(145deg) rotateY(180deg) rotateZ(180deg)
          translate(-20%, -20%);
        }
      }

      &.phase-1 {
        .stone-image {
          height: 10em;
        }
      }

      &.phase-1 {
        .image-side {
          .image {
            img,
            .react-player {
              transform: translateY(-50%) rotate(75deg);
            }
          }
        }
      }

      &.phase-2,
      &.phase-3 {
        .image-side {
          .image {
            img,
            .react-player {
              max-width: 70%;
              transform: translateY(-40%);
              margin: 0 auto;
              opacity: 0.9;
            }
          }
        }
      }

      &.phase-4 {
        .image-side {
          align-self: flex-start;
        }

        .text {
          width: 80%;
          position: relative;

          img.certificate {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateX(160%);
            width: 6em;
          }
        }

        .meter {
          bottom: unset;
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .page.info-page.the-journey-page {
    .journey {
      width: 80%;
      margin-left: 13%;

      .scale {
        left: 11em;
      }

      .journey-row {
        .text-side {
          padding-bottom: 2em;
          min-height: 10em;
        }

        .image-side {
          width: 16em;
          min-width: 16em;

          .image {
            width: 8em;
            height: 8em;
          }
        }

        &.journey-desc {
          .text-side {
            width: 65%;
          }
        }

        &.phase-4 {
          .text {
            img.certificate {
              right: 3em;
              width: 5em;
              height: 5em;
            }
          }
        }
      }
    }
  }
}
