.countdown-row {
  width: 670px;
  margin: 0 auto;

  .countdown {
    justify-content: space-between;
    flex-grow: 2;
    max-width: 460px;

    .value {
      font-size: 3em;
      line-height: 1em;
      margin-bottom: 5px;
    }

    .caption {
      font-size: .8em;
    }
  }
}