@import "css/varsNEW";

.countdown-row {
  width: 670px;
  margin: 0 auto;
}

.countdown {
  justify-content: space-between;

  .value {
    font-size: $font50px;
    line-height: 1em;
    margin-bottom: 5px;
  }

  .caption {
    font-size: $font15px;
  }
}
