@import "css/varsNEW";

.countdown {
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  .value {
    font-size: $font50px;
    line-height: 1em;
    margin-bottom: 5px;
    font-weight: 100;

    .value-number {
      width: .6em;
    }
  }

  .caption {
    font-size: $font15px;
  }

  .small-parts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    right: -11em;
    width: 9em;
  }

  .countdown-part.small {
    opacity: 0.4;

    .value {
      font-size: $font42px !important;
      margin-bottom: 0.6rem;
    }

    .caption {
      font-size: $font12px !important;
      margin-bottom: 0.2rem;
    }
  }

  &.custom {
    align-items: flex-end;

    .w-d {
      height: 100%;
      border-right: solid 1px white;
      margin-right: 2em;
      padding-right: 2em;

      .countdown-part {
        flex-direction: row;
        justify-content: space-between;
        width: 7em;

        .value {
          font-size: $font44px !important;
          margin-right: 0.4em;
        }

        .caption {
          font-size: $font11px !important;
        }
      }
    }

    .colon {
      font-size: 4.5em;
      margin: 0 0.4em;
      align-self: flex-start;
      line-height: 1em;
      font-weight: 100;
    }

    .h-m-s {
      .countdown-part {
        width: 6.5em;
      }
    }
  }

  &.left-aligned {
    align-items: center;
    justify-content: flex-start;
  }
}
