@font-face {
    font-family: 'Saira';
    src: url('Saira-Thin.woff2') format('woff2'),
        url('Saira-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saira';
    src: url('Saira-ThinItalic.woff2') format('woff2'),
        url('Saira-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

