@import "css/vars";

header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: $headerHeight;

  .header-internal {
    padding: 0 40px;
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .wallet {
      button {
        letter-spacing: 0.1em;
      }
    }

    .vertical-sep {
      width: 1px;
      margin: 0 20px;
      background-color: white;
      height: 32px;
    }

    .mute-icon {
      margin-right: 20px;
      width: 28px;
    }
  }

  .logo-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -6px);

    img {
      height: 150px;
      width: unset;
    }
  }

  svg.menu-icon {
    height: 1.4em;
    cursor: pointer;
  }
}

.drawer-open {
  header {
    svg.menu-icon {
      margin-left: 3px;
    }
  }
}
