@import "css/varsNEW";

header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: calc(var(--header-height) + 1em);
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    left 80%,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
  backdrop-filter: blur(2.5em);

  .header-internal {
    padding: 0 2.5rem;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .wallet {
      button {
        letter-spacing: 0.1em;
      }
    }

    .vertical-sep {
      width: 1px;
      margin: 0 1em;
      background-color: white;
      height: 1.4em;
    }

    .mute-icon {
      margin-right: 1em;
      width: 1.75em;
    }
  }

  .logo-box {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(calc(-50% - 7.5px));

    &.hidden {
      opacity: 0;
    }

    &.animate-show {
      opacity: 0;
      transform: translateX(calc(-50% - 7.5px)) scale(0.9);
      animation: fadeInGrowLogo 0.5s ease-out forwards;
    }

    &.animate-hide {
      animation: fadeOutShrinkLogo 0.5s ease-out forwards;
    }
  }

  .collector-btn {
    margin-right: 2.5em;
    padding-bottom: 0.1em;
    font-size: 0.9em;
  }

  svg.menu-icon {
    height: 1.4em;
    cursor: pointer;
  }

  .fa-twitter {
    margin-top: 0.2em;
  }

  @keyframes fadeInGrowLogo {
    0% {
      opacity: 0;
      transform: translateX(calc(-50% - 7.5px)) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateX(calc(-50% - 7.5px)) scale(1);
    }
  }

  @keyframes fadeOutShrinkLogo {
    0% {
      opacity: 1;
      transform: translateX(calc(-50% - 7.5px)) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateX(calc(-50% - 7.5px)) scale(0.9);
    }
  }
}

.drawer-open {
  header {
    svg.menu-icon {
      margin-left: 3px;
    }
  }
}

.header-fix {
  width: 15px;
  height: var(--header-height);
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  z-index: 1;
}

@media only screen and (max-width: 1366px) {
  header {
    font-size: $font15px;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    .header-internal {
      padding: 0 1rem;
    }
  }
}
