@import "css/varsNEW";
@import "css/animations";

.invite-view {
  .layout-box {
    display: flex;
    height: 100%;
    padding: 4em 4em 3em 4em;
    justify-content: flex-start;

    .leading-text {
      font-size: $font36px;
      margin-bottom: 0.2em;
    }

    .tagline-text {
      color: white;
    }

    .content-box {
      flex-grow: 2;
      margin-left: 6em;
      display: flex;
      flex-direction: column;
      position: relative;
      justify-self: center;

      .follow-box {
        border: solid 1px #ffffff22;
        background-color: #ffffff22;
        padding: 1em;
        width: 100%;

        font-size: $font15px;

        .button {
          padding-left: 2em;
          padding-right: 2em;
          margin-left: 2em;
        }
      }

      .bottom-content {
        width: 100%;
      }

      .request-form {
        margin-top: 1em;
      }

      .request-status {
        height: 100%;

        .leading-text {
          font-size: $font34px;
          margin-bottom: 0.4em;
        }

        .text-comment {
          font-size: $font18px;
          margin: 1.2em 0 2.4em;
        }
      }

      .modal {
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        transform: unset;

        .modal-inner {
          height: 100%;

          &:before {
            opacity: 1;
            background-color: #404040;
          }
        }

        .modal-content {
          height: 100%;
          padding-top: 1em;
          line-height: $font25px;
          justify-content: space-evenly;
          text-align: left;
        }

        .heading {
          font-size: $font25px;
          margin: 0.4em 0;
          align-self: flex-start;
        }

        .button {
          margin-top: 1.5em;
        }

        svg.fa-check {
          width: 5em;
          height: unset;
          animation: fadeIn 0.5s ease-in;

          path {
            fill: $gold;
          }
        }

        &.change-address-modal {
          left: -3em;

          .modal-content {
            text-align: unset;
          }

          form .input-container .label {
            background-color: #414141;
            top: -0.2em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .invite-view {
    .layout-box {
      flex-direction: column;
      padding: 2em 1em 0;

      .leading-text {
        font-size: 5.75vw;
      }

      .tagline-text {
        font-size: 4.5vw;
      }

      .video-box {
        height: 40vh;
        margin-top: 1em;
      }

      .content-box {
        margin: 0;

        .modal {
          position: fixed;
          left: 2%;
          top: 1%;
          bottom: unset;
          font-size: $font14px;

          .modal-inner {
            padding: 1em 1.5em 2.5em;

            &:before {
              transform: translate(-50%, -1em);
            }

            .close {
              display: unset;
              left: unset;
            }

            .heading {
              margin: 1em 0;
            }

            .button {
              margin-top: 2em;
            }
          }
        }

        .follow-box {
          flex-direction: column;
          font-size: 3.3vw;

          .button {
            margin: 1em 0 0.5em;
            align-self: flex-end;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .invite-view {
    .layout-box {
      .content-box {
        .inputs-row {
          flex-direction: column;
          align-items: stretch;

          .input-container {
            width: 100% !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .invite-view {
    .layout-box {
      .video-box {
        height: unset;
      }
    }
  }
}