@import "css/varsNEW";
@import "css/animations";

.invite-view {
  .layout-box {
    display: flex;
    height: 100%;
    padding: 4em 4em 3em 4em;
    justify-content: flex-start;

    .leading-text {
      font-size: $font36px;
      margin-bottom: 0.2em;
    }

    .tagline-text {
      color: white;
    }

    .content-box {
      flex-grow: 2;
      margin-left: 6em;
      display: flex;
      flex-direction: column;
      position: relative;
      justify-self: center;

      .bottom-content {
        width: 100%;
      }

      .request-form {
        margin-top: 1em;
      }

      .request-status {
        height: 100%;

        .leading-text {
          font-size: $font34px;
          margin-bottom: 0.4em;
        }

        .text-comment {
          font-size: $font18px;
          margin: 1.2em 0 2.4em;
        }

        .cta-row {
          width: 100%;
          align-items: flex-end;
          justify-content: flex-start;
        }

        .countdown-container {
          font-size: 0.9em;
          margin-left: 2rem;

          .countdown {
            font-size: 0.55em;
          }

          .text {
            font-size: 0.9em;
            font-weight: 500;
            margin-bottom: 0.4rem;
            letter-spacing: 0.05em;
            color: $gold;
          }
        }
      }

      .modal {
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        transform: unset;

        .modal-inner {
          height: 100%;

          &:before {
            opacity: 1;
            background-color: #404040;
          }
        }

        .modal-content {
          height: 100%;
          padding-top: 1em;
          line-height: $font25px;
          justify-content: space-evenly;
          text-align: left;
        }

        .heading {
          font-size: $font25px;
          margin: 0.4em 0;
          align-self: flex-start;
        }

        .button {
          margin-top: 1.5em;
        }

        svg.fa-check {
          width: 5em;
          height: unset;
          animation: fadeIn 0.5s ease-in;

          path {
            fill: $gold;
          }
        }

        &.change-address-modal {
          left: -3em;

          .modal-content {
            text-align: unset;
          }

          form .input-container .label {
            background-color: #414141;
            top: -0.2em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .invite-view {
    .layout-box {
      flex-direction: column;
      padding: 2em 1em 0;

      .leading-text {
        font-size: 1.5em;
      }

      .tagline-text {
        font-size: 1.1em;
      }

      .video-box {
        height: 40vw;
        margin-top: 1em;
      }

      .content-box {
        margin: 0;

        .modal {
          width: 100% !important;
          top: unset;
          bottom: 2.5vh;
          font-size: $font14px;

          .modal-inner {
            padding: 1em 1.5em 2.5em;

            &:before {
              transform: translate(-50%, -1em);
            }

            .close {
              display: unset;
              left: unset;
            }

            .heading {
              margin: 1em 0;
            }

            .button {
              margin-top: 2em;
            }
          }
        }

        .request-status {
          .text-comment {
            font-size: 0.95em;
          }

          .cta-row {
            .countdown-container {
              margin-left: 2em;

              .text {
                font-size: 0.7em;
              }

              .countdown {
                font-size: 0.3em !important;
              }
            }
          }
        }

        .follow-box {
          flex-direction: column;
          font-size: 0.875em;
          line-height: 1.75em;

          .button {
            margin: 0.5em 0 0 1em;
            float: right;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .invite-view {
    .layout-box {
      .content-box {
        .inputs-row {
          flex-direction: column;
          align-items: stretch;

          .input-container {
            width: 100% !important;
          }
        }

        .modal {
          bottom: 8vh;
        }

        .request-status {
          .cta-row {
            justify-content: space-between;
          }

          .countdown-container {
            margin-left: unset;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .invite-view {
    .layout-box {
      .content-box {
        .request-status {
          .cta-row {
            .countdown-container {
              font-size: 1rem;
            }

            .button {
              padding: 0 1.25em;
            }
          }
        }
      }
    }
  }
}
