@import "css/varsNEW";

.member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    font-weight: 700;
  }

  .member {
    font-size: 1.1em;
    margin: 1em 1.2em;
    width: 20em;
    border: solid 1px $border_opaque;
    background-color: #c0c0c039;
    padding: 0.625em .75em;
    line-height: 1em;
    position: relative;
    align-items: stretch;

    .member-title {
      opacity: 0.8;
      font-size: $font12px;
      margin-bottom: 0.5em;
      color: $gold;
      font-weight: 500;
    }

    .member-name {
      color: silver;
      margin: .5em 0 .25em;

      a {
        margin-right: .4em;
      }
    }

    .member-image {
      width: 3.7em;
      height: 3.7em;
      margin-right: 1.25em;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 4px -2px $gold;

      img {
        width: 100%;
      }
    }

    .member-info {
      flex-grow: 2;
      align-items: stretch;
      justify-content: space-between;
    }

    .label {
      font-size: $font11px;
      position: relative;
      font-weight: 500;
      line-height: 1em;

      &:not(:last-child) {
        margin-right: .5em;
      }
    }

    &.team-member {
      .member-name {
        color: darken(#d35400, 5%);
      }
    }

    &.honorary-member {
      .member-name {
        color: $gold;
      }
    }

    &.seed-member {
      .member-name {
        color: $silvergold;
      }
    }

    .request-invite {
      font-size: $font9px;
      line-height: 1em;
    }
  }
}

.grouped-member-list {
  .member-group {
    margin-top: 2em;

    .group-name {
      font-size: $font20px;
      color: $gold;
      margin-bottom: .8em;
    }
  }
}

@media only screen and (max-width: 767px) {
  .member-list {
    .member {
      margin: 1em 0;
    }
  }
}
