@import "css/varsNEW";

.action-view.enter {
  height: 100%;
  background: transparent url($CDN_URL + "/images/mint/mint-hand.png") -2px -2px
    no-repeat padding-box;
  background-size: 100%;
  color: white;

  .layout-box {
    height: 94%;
    position: relative;
    top: 6%;
    padding: 0 6%;
    display: flex;
  }

  .image-box {
    width: 50%;
    position: relative;
    padding: 10px;
    background: url($CDN_URL + "/images/mint/mint-key.png") no-repeat 35% -10%;
    background-size: 62%;
  }

  .content-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .right-box {
    margin-left: -4%;
  }

  .right-box-with-sep {
    @extend .right-box;
    position: relative;
    border-bottom: solid 1px #ffffff22;
  }

  .congrats-box {
    @extend .right-box;
    align-items: center;
    justify-content: flex-start;

    .congrats-text {
      margin-top: 0.5em;
      text-align: left;
      color: white;
    }
  }

  .mint-box {
    color: white;
    @extend .right-box;
    position: relative;
    flex-grow: 2;
    padding: 0 1em 0 0;
    margin-top: -0.8em;

    .center-aligned-row {
      width: 100%;
      justify-content: space-evenly;
    }

    .price-text {
      color: $gold;
      font-size: $font20px;
      font-weight: 500;
      margin-bottom: 0.4em;
      line-height: 1em;
    }

    .mint-button {
      svg {
        margin: 0 0.6em 0 0.3em;
      }
    }

    .button-column {
      position: relative;
    }

    .open-soon {
      font-size: $font20px;
      position: relative;
      padding-left: 2em;
      margin-left: 2em;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: white;
        left: 0;
      }
    }
  }

  .timer-box {
    @extend .right-box;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 1.5em 0 1em;
    text-align: center;

    .text-comment {
      color: white;
    }

    .countdown {
      width: 72%;
      margin: 1em auto 0.5em;
      font-size: $font14px;
      color: $text_gray;
    }
  }

  .invites-box {
    @extend .right-box;
    border: solid 1px #ffffff22;
    background-color: #ffffff22;
    padding: 1em;

    .image img {
      height: 6em;
      margin: -1em -2em -2em -1.5em;
    }

    .text {
      margin: 0 1em;
      font-size: $font14px;
    }
  }

  .status-box {
    text-align: center;
    color: white;
    @extend .right-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.5em;

    span {
      margin: 0 1em;
    }
  }

  .invites-view {
    position: relative;
    border: solid 1px white;
    height: 94%;
    padding: 1em 5em;
    justify-content: flex-start;

    img {
      height: 10em;
    }

    .back-button {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3em;
      height: 3em;
      border-radius: 50%;
      border: solid 1px white;
      background-color: #4d4d4d;
      cursor: pointer;
      display: flex;
      align-self: center;
      justify-content: center;

      svg {
        height: unset;
        margin-left: -0.1em;
        font-size: 1.5em;
      }
    }

    .text {
      text-align: left;
      font-size: $font16px;
    }

    .invitations-status {
      margin-top: 2em;
      font-size: 1.5em;
    }
  }
}
