@import "css/varsNEW";

.action-view.enter {
  height: 100%;
  color: white;

  .layout-box {
    height: 94%;
    position: relative;
    top: 6%;
    display: flex;
  }

  .image-box {
    width: 48%;
    position: relative;
    margin-top: -2.5em;
  }

  .content-box {
    width: 45%;
    height: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .right-box-with-sep {
    position: relative;
    border-bottom: solid 1px #ffffff22;
  }

  .congrats-box {
    align-items: center;
    justify-content: flex-start;

    .congrats-text {
      margin-top: 0.5em;
      text-align: left;
      color: white;
    }
  }

  .mint-box {
    color: white;
    position: relative;
    flex-grow: 2;
    padding: 0 1.25em;
    justify-content: space-between;

    .center-aligned-row {
      width: 100%;
      justify-content: space-evenly;
    }

    .price-text {
      font-size: $font18px;
      color: $gold;
      font-weight: 500;
      margin-bottom: 0.6em;
      line-height: 1em;
    }

    .mint-button {
      svg {
        margin: 0 0.6em 0 0.3em;
      }
    }

    .button-column {
      position: relative;
      align-items: flex-start;
    }

    .open-soon {
      position: relative;
    }
  }

  .timer-box {
    align-items: stretch;
    justify-content: space-evenly;
    padding: 1em 0;

    .text-comment {
      font-size: 0.85em;
      font-weight: 400;
      margin-bottom: 0.4rem;
      letter-spacing: 0.05em;
    }

    .countdown {
      font-size: 0.45em;
      margin: 1em auto 0;
      color: $text_gray;
      font-weight: 500;

      .value {
        font-weight: 200;
      }

      &.countdown .w-d {
        border-right-color: $text_gray;

        .value {
          font-weight: 300;
        }
      }
    }
  }

  .invites-box {
    border: solid 1px #ffffff22;
    background-color: #ffffff22;
    padding: 1em;

    .image img {
      height: 6em;
      margin: -1em -2em -2em -1.5em;
    }

    .invites-box-text {
      flex-grow: 2;
      padding-left: 1.25em;
    }

    .text {
      margin: 0 1em;
      font-size: $font14px;
    }

    .button {
      padding: 0 2em;
    }
  }

  .status-box {
    position: relative;
    text-align: center;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 0;

    span {
      margin: 0 1em;
    }
  }

  .minting-address-row {
    margin-top: 2em;
    margin-bottom: 3.5em;
    padding-top: 0;
  }

  .invites-view {
    position: relative;
    border: solid 1px white;
    height: 94%;
    padding: 1em 3.5em;
    justify-content: flex-start;

    img {
      height: 10em;
    }

    .back-button {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3em;
      height: 3em;
      border-radius: 50%;
      border: solid 1px white;
      background-color: #4d4d4d;
      cursor: pointer;
      display: flex;
      align-self: center;
      justify-content: center;

      svg {
        height: unset;
        margin-left: -0.1em;
        font-size: 1.5em;
      }
    }

    .text {
      text-align: left;
      font-size: $font16px;
    }

    .invitations-status {
      margin-top: 2em;
      font-size: 1.5em;
    }
  }

  &.minting {
    .mint-box {
      padding: 0;
    }

    .timer-box {
      max-width: 20vw;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .action-view.enter {
    .layout-box {
      height: unset;
      top: unset;
      flex-direction: column;
      padding: 2em 1em 1.5em;

      .leading-text {
        font-size: 2.4em;
      }

      .image-box {
        width: 100%;
        margin-top: 0;
        margin-left: -1em;

        .react-player {
          height: 30vh;
          margin: 0vh 0 2vh;
        }
      }

      .content-box {
        width: 100%;

        .mint-box {
          flex-direction: column;
          padding: 0;

          .button-column {
            padding-right: 0.5em;
          }

          .open-soon {
            font-size: 1em;
            padding: 0;
            margin: 0 0 3.5em;

            &:before {
              display: none;
            }
          }
        }

        .invites-box {
          font-size: 0.9125em;

          .image img {
            height: unset;
            width: 135%;
            margin: 0 0 -1em -1.5em;
          }

          .invites-box-text {
            flex-direction: column;
          }

          .text {
            margin: 0 0 0.75em;
          }
        }

        .timer-box {
          padding: 0;
          max-width: 65vw;

          .countdown {
            width: 85%;
          }
        }
      }
    }

    .minting-address-row {
      margin-bottom: 0;
      align-items: flex-start;
    }

    .invites-view {
      height: unset;
      padding: 1em 2em;
      margin: -9vw -4vw 0 -7vw;
      border: none;

      .back-button {
        width: 1.75em;
        height: 1.75em;

        svg {
          font-size: 1em;
        }
      }
    }

    .status-box {
      transform: translateY(-50%);
    }
  }
}

@media only screen and (max-width: 480px) {
  .action-view.enter {
    .layout-box {
      .image-box {
        .react-player {
          height: 20vh;
        }
      }
    }
  }
}
