@import "css/varsNEW";

.modal.invited-modal {
  padding: 0.4em;
  max-height: 80%;
  width: 49em;
  transform: translate(-50%, -45%);

  .modal-inner {
    padding: 4em 4em 3.5em;

    &:before {
      transform: translate(-50%, -4em);
    }
  }

  .leading-text {
    font-size: $font36px;
    margin-bottom: 1.5rem;
  }

  .image {
    margin: -2em 0 -1em;
    max-width: 80%;

    img {
      min-height: 10em;
      width: 100%;
    }
  }

  .text {
    margin-bottom: 1.5rem;
    line-height: 1.5em;
    text-align: left;
    width: 100%;
  }

  .button {
    margin-top: 2rem;

    svg {
      font-size: $font20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .modal.invited-modal {
    transform: translate(-50%, -50%);

    .modal-inner {
      padding: 13% 5%;
    }

    .image img {
      min-height: unset;
    }
  }
}
