@import "css/varsNEW";
@import "css/functions";

.modal.invited-modal {
  padding: 0.4em;
  max-height: 80%;
  width: 49em;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: left;

  .modal-inner {
    height: 100%;
    padding: 4em 4em 3.5em;

    &:before {
      transform: translate(-50%, -4em);
    }

    .modal-content {
      height: 100%;
      justify-content: stretch;
    }
  }

  .leading-text {
    font-size: $font36px;
    margin-bottom: 1.5rem;
  }

  .image {
    margin: -2em 0 0em;
    height: 6em;
    aspect-ratio: 2.15;

    img {
      width: 100%;
    }
  }

  .text {
    margin-bottom: 1em;
    align-self: flex-start;
  }

  .button {
    margin-top: 2rem;

    svg {
      font-size: $font20px;
    }
  }

  .modal-title {
    width: 100%;
    justify-content: space-between;
    font-size: 0.9em;
    margin-bottom: 1em;
  }

  &.no-invite {
    width: 70em;
    height: 90vh;

    .invite-options {
      text-align: left;
      width: 100%;
      flex-grow: 2;

      .invite-option {
        margin-bottom: 1em;

        .option-num {
          width: 1.2em;
          text-align: left;
        }

        .option-content {
          flex-grow: 2;
          height: 100%;

          a.text-gold {
            text-decoration: underline;
          }
        }

        &:last-child {
          flex-grow: 2;
        }
      }
    }

    .members-wrapper {
      width: 100%;
      flex-grow: 2;
      position: relative;

      .loader-container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: .75em;

        .loader {
          margin: -5.5em 0;
        }

        .tagline-text {
          color: white;
        }
      }
    }

    .ScrollbarsCustom {
      width: 100%;
      height: 100%;

      .ScrollbarsCustom-Wrapper {
        width: 100%;
        height: 100%;
      }

      .ScrollbarsCustom-Track {
        position: absolute;
        border-radius: 0.25rem;
        opacity: .5;
      }

      .ScrollbarsCustom-TrackY {
        width: .5rem;
        height: 100%;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.04);
      }

      .ScrollbarsCustom-Thumb {
        background: rgba(255, 255, 255, 0.12);
        cursor: pointer;
        border-radius: 0.25rem;
      }

      .ScrollbarsCustom-ThumbY {
        width: 100%;
      }

      &:hover {
        .ScrollbarsCustom-Track {
          opacity: 1;
        }
      }
    }

    .member-list {
      justify-content: flex-start;

      .member {
        font-size: .75em;
        margin: 0 2.4em 0 0;
        background-color: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .modal.invited-modal {
    .image img {
      min-height: unset;
    }
  }
}

@media only screen and (max-width: 768px) {
  .modal.invited-modal {
    .modal-inner {
      padding: 13% 5%;

      &:before {
        transform: translate(-50%, -13.5%);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .modal.invited-modal {
    .modal-inner {
      &:before {
        transform: translate(-50%, -4em);
      }
    }
  }
}
