@import "css/varsNEW";
@import "css/functions";

.page.about-page {
  --base-font-size: 16;

  .leading-text {
    margin: 3em 0 1em;
    color: $gold;
  }

  .text {
    margin-bottom: 0.2em;
    letter-spacing: 0.1em;
  }

  .general {
    width: 48%;
    min-width: 54em;
    margin-left: 10%;

    .leading-text {
      margin-top: 2em;
    }

    .secondary-text {
      margin-top: 1.5em;
    }
  }

  .our-values {
    position: relative;
    width: 65%;
    margin: 0 auto;

    .leading-text {
      margin-bottom: 0;
    }

    .secondary-text {
      margin: 1em 0 0;
    }
  }

  .team {
    width: 75%;
    margin-left: 15%;
    position: relative;
    z-index: 1;

    .leading-text {
      margin-bottom: 0;
    }

    .team-members {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      font-size: 0.8em;

      &.team-members-2 {
        justify-content: space-evenly;
      }

      .team-member {
        width: 30%;
        margin-top: 4em;
        position: relative;

        .secondary-text {
          margin: 1em 0 0;
        }

        .member-title {
          color: $text_gray;
          font-size: $font20px;
          margin-bottom: 1em;
        }

        .text {
          flex-grow: 2;
          border: solid 1px $border_opaque;
          background-color: $border_opaque;
          padding: 1em 1.5em 6em;
          position: relative;

          p {
            margin: 0;
          }
        }

        .social-buttons {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          position: absolute;
          bottom: 1em;
          right: 1em;

          svg {
            width: 3em;
            height: 2em;
          }
        }
      }
    }
  }

  .teaser {
    height: $viewHeightRef;
    top: unset;
    position: relative;
    z-index: 0;

    .react-player {
      opacity: 0.5;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .play-button {
      position: relative;
      top: calc(100% - 8em);
    }
  }

  .faq {
    width: 100%;
    margin: -2em auto 5em;
    padding: 10em 15% 0;
    z-index: 1;
    position: relative;
    background-color: black;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left 5%,
      from(rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 1))
    );

    .leading-text {
      text-align: center;
      margin-top: 0;
    }

    .secondary-text {
      margin-top: 1.8em;
    }
  }
}

@media only screen and (max-width: 1680px) {
  .page.about-page {
    font-size: $font15px;

    .general {
      .leading-text {
        margin-top: 1em;
      }
    }
  }
}

@media only screen and (max-width: 1540px) {
  .page.about-page {
    --base-font-size: 22;
    font-size: $font14px;

    .leading-text {
      margin-top: 2em;
    }

    .general {
      margin-left: 7.5%;

      .leading-text {
        margin: 0.5em 0 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .page.about-page {
    font-size: $font13px;

    .general {
      width: 57%;
      margin-left: 5%;

      .leading-text {
        margin: 0.5em 0 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .page.about-page {
    font-size: $font12px;
  }
}
