@import "css/varsNEW";

.page.info-page.about-page {
  .our-values {
    .gia-report {
      width: 33%;
      float: right;
      position: relative;
      margin: 0.5em 0 1.5em 3em;
      transition: width 0.25s ease-in;
      transition-delay: 0.25s;

      &:hover {
        width: 100%;
      }

      img {
        width: 100%;
      }

      .image-caption {
        font-size: $font12px;
        font-weight: 400;
        font-style: italic;
      }
    }
  }

  .team {
    width: 75%;

    .team-members {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: left;
      font-size: 0.8em;

      .team-member {
        width: 30%;
        margin-top: 4em;
        position: relative;

        .secondary-text {
          margin: 1em 0 0;
        }

        .member-title {
          color: $text_gray;
          font-size: $font20px;
          margin-bottom: 1em;
        }

        .text {
          flex-grow: 2;
          border: solid 1px $border_opaque;
          background-color: $box_bg;
          padding: 1em 1.5em 5em;
          position: relative;

          p {
            margin: 0;
          }

          a {
            text-decoration: underline;
          }
        }

        .social-buttons {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          position: absolute;
          bottom: 1em;
          left: 1em;

          svg {
            width: 2em;
            height: 1.2em;
          }
        }

        &:nth-child(2) {
          .animated-text {
            transition-delay: .15s;
          }
        }

        &:nth-child(3) {
          .animated-text {
            transition-delay: .3s;
          }
        }
      }

      &.team-members-2 {
        justify-content: space-between;

        .team-member {
          width: 47.5%;
        }
      }
    }
  }
}
