.action-view.mine {
  .packages {
    justify-content: space-evenly;
    width: 800px;
    margin: 40px auto;

    .package {
      width: 33.33%;
      cursor: pointer;

      .package-content {
        margin: 0 20px;
        padding: 20px 0;
      }

      &:not(:last-child) {
        border-right: solid 1px white;
      }

      &.selected {
        cursor: default;

        .package-content {
          border: solid 1px white;
        }
      }
    }
  }
}
