.diamond-info {
  width: 260px;
  position: absolute;
  right: 0;
  top: 70px;
  background-color: black;
  border: solid 1px white;
  z-index: 1;

  .text-content {
    padding: 20px;

    &>div:not(:last-child) {
      margin-bottom: 10px;
    }

    .token-id {
      font-size: 1.2em;
      text-align: center;
      font-weight: 700;
    }
  }

  .react-player {
    width: 100% !important;
    height: auto !important;
  }
}