.diamond-info {
  .text-content {
    padding: 20px;

    & > div:not(:last-child) {
      margin-bottom: 10px;
    }

    .token-id {
      font-size: 1.2em;
      text-align: center;
      font-weight: 700;
    }
  }

  .react-player {
    width: 100% !important;
    height: auto !important;
  }
}
