@import "css/varsNEW";

.page.credits-page {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner-page {
    width: 80%;
  }

  h1 {
    margin: 0.8em 0;
    line-height: 1.4em;
  }

  .credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      font-weight: 700;
    }
  }

  .credits-category {
    margin: 1em 1.2em;
    width: 18em;
    border: solid 1px $border_opaque;
    background-color: $box_bg;
    padding: 0.8em 1em;
    line-height: 1em;

    .category-name {
      opacity: 0.8;
      font-size: $font12px;
    }

    .credit-to {
      &:not(:first-child) {
        margin-top: 0.6em;
      }
    }
  }

  footer {
    margin-top: 2em;

    .footer-inner {
      padding-top: 6rem;
    }
  }
}
