@import "css/varsNEW";
@import "css/functions";

.page.info-page {
  --base-font-size: 16;

  .mine-background {
    .walls {
      top: 3.5%;
      background: url($CDN_URL + "/images/about/mine-walls.png") no-repeat left
        15vh;
      background-size: 100%;
    }

    .cave {
      background: url($CDN_URL + "/images/about/cave.png") no-repeat 155% 8vh;
      background-size: 72%;
      z-index: -2;
    }
  }

  .leading-text {
    margin: 1em 0;
  }

  .subtitle-text {
    margin-top: 3.6em;
  }

  .tagline-text {
    margin-top: 1em;
  }

  .text {
    letter-spacing: 0.1em;
  }

  .general {
    margin-left: 10%;
  }

  .content-section {
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }
}

@media only screen and (max-width: 1680px) {
  .page.info-page {
    font-size: $font15px;
  }
}

@media only screen and (max-width: 1540px) {
  .page.info-page {
    --base-font-size: 22;
    font-size: $font14px;

    .general {
      margin-left: 7.5%;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .page.info-page {
    font-size: $font13px;
  }
}

@media only screen and (max-width: 1200px) {
  .page.info-page {
    font-size: $font12px;

    .general {
      margin-left: 5%;
    }
  }
}
