@import "css/vars";

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: $headerHeight;
  background-color: black;

  .header-internal {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 32px;
      width: unset;
    }
  }
}
