@import "css/varsNEW";

.page.faqs-page {
  .inner-page {
    width: 60%;
  }

  .leading-text {
    text-align: center;
    margin-top: 1em;
    text-transform: unset;
  }

  footer.footer {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1200px) {
  .page.faqs-page {
    .inner-page {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .page.faqs-page {
    .inner-page {
      width: 80%;
    }
  }
}
